.panel .row
{
    padding:5px 3px;
}
.panel img{
    width:25px;
}
.colunaCentro
{    
    padding:0px;
    margin:30px 0px 0px 30px ;

}

.container{
    margin-left:20px;
}

.row1 {
    float: left;
    width: 100%;
}

table input[type=checkbox] {
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    margin-left: 5px;
    margin-right:5px;
}


.filtro  select{
   
    margin-bottom:5px;
}