<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="visualSysWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="ColetorPosicaoFixa" value="true"/>
    <!--Se nao for coletor com posicao Fixa  configurar os campos "ColetorPluFinal" e "ColetorContadoFinal" com o valor 0 -->
    <add key="ColetorPluInicio" value="13"/>
    <add key="ColetorPluFinal" value="25"/>
    <add key="ColetorContadoInicio" value="35"/>
    <add key="ColetorContadoFinal" value="42"/>
    <add key="ColetorContadoDecimal" value="0"/>
    <add key="ColetorDelimitador" value=""/>
    <add key="ServidorSenha" value="45.235.240.56:19745"/>
  </appSettings>
  <connectionStrings>
    <add name="Conexao" connectionString="Data Source=localhost\mssqlserver2019;Initial Catalog=Bratterweb_vp_novo;User ID=sa;Password=alo" providerName="System.Data.SqlClient"/>
  <!--<add name="Conexao" connectionString="Data Source=26.116.110.228\server2016;Initial Catalog=BratterWEB;User ID=sa;Password=Soft@bratter" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Conexao" connectionString="Data Source=26.97.207.128;Initial Catalog=Bratterweb;User ID=sa;Password=Soft@bratter" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Conexao" connectionString="Data Source=26.129.77.231;Initial Catalog=BratterWEB;User ID=sa;Password=Soft@bratter" providerName="System.Data.SqlClient"/>-->
    <!--<add name="Conexao" connectionString="Data Source=192.168.0.217;Initial Catalog=BratterWEB_Tatu;User ID=sa;Password=Soft@bratter" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--
    Para obter uma descrição das alterações do web.config, consulte http://go.microsoft.com/fwlink/?LinkId=235367.

    Os seguintes atributos podem ser definidos na marca <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="pt-BR" uiCulture="pt-BR"/>
    <sessionState timeout="5000"/>
    <httpHandlers>
      <add verb="*" path="AjaxFileUploadHandler.axd" type="AjaxControlToolkit.AjaxFileUploadHandler,&#xA; AjaxControlToolkit"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax"/>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <!--<httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <system.web>
    <httpRuntime requestValidationMode="2.0"/>
    <!--<pages validateRequest="false" />-->
    <customErrors mode="Off"/>
  </system.web>
  <applicationSettings>
    <visualSysWeb.Properties.Settings>
      <setting name="visualSysWeb_Nferecepcao2_NfeRecepcao2" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nferecepcao2.asmx</value>
      </setting>
      <setting name="visualSysWeb_NfeRetRecepcao2_NfeRetRecepcao2" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nferetrecepcao2.asmx</value>
      </setting>
      <setting name="visualSysWeb_NfeInutilizacao2_NfeInutilizacao2" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfeinutilizacao2.asmx</value>
      </setting>
      <setting name="visualSysWeb_NfeConsultaProtocolo_NfeConsulta2" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfeconsulta2.asmx</value>
      </setting>
      <setting name="visualSysWeb_NfeStatusServico2_NfeStatusServico2" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/nfestatusservico2.asmx</value>
      </setting>
      <setting name="visualSysWeb_NfeConsultaCadastro_CadConsultaCadastro2" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/nfeweb/services/cadconsultacadastro2.asmx</value>
      </setting>
      <setting name="visualSysWeb_RecepcaoEvento_RecepcaoEvento" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
      </setting>
      <setting name="visualSysWeb_HomologacaoNfeRecepcao2_NfeRecepcao2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRecepcao2.asmx</value>
      </setting>
      <setting name="visualSysWeb_HomologacaoNfeRetRecepcao2_NfeRetRecepcao2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/nfeweb/services/NfeRetRecepcao2.asmx</value>
      </setting>
      <setting name="visualSysWeb_Homologacao3NfeAutorizacao_NfeAutorizacao" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeautorizacao.asmx</value>
      </setting>
      <setting name="visualSysWeb_Homolocao3NFeRetAutorizacao_NfeRetAutorizacao" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferetautorizacao.asmx</value>
      </setting>
      <setting name="visualSysWeb_Homologacao3RecepcaoEvento_RecepcaoEvento" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/recepcaoevento.asmx</value>
      </setting>
      <setting name="visualSysWeb_HomologacaoRecepcaoEvento_RecepcaoEvento" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/eventosWEB/services/RecepcaoEvento.asmx</value>
      </setting>
      <setting name="visualSysWeb_Producao3RecepcaoEvento_RecepcaoEvento" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/ws/recepcaoevento.asmx</value>
      </setting>
      <setting name="visualSysWeb_Producao3NfAutorizacao_NfeAutorizacao" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/ws/nfeautorizacao.asmx</value>
      </setting>
      <setting name="visualSysWeb_Producao3NfeRetAutorizacao_NfeRetAutorizacao" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/ws/nferetautorizacao.asmx</value>
      </setting>
      <setting name="visualSysWeb_homologacao3NfeInutilizacao_NfeInutilizacao2" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeinutilizacao2.asmx</value>
      </setting>
      <setting name="visualSysWeb_Producao3NfeInutilizacao_NfeInutilizacao2" serializeAs="String">
        <value>https://nfe.fazenda.sp.gov.br/ws/nfeinutilizacao2.asmx</value>
      </setting>
    </visualSysWeb.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1"/>
        <binding name="BasicHttpBinding_IService11"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://34.123.130.117:19745/senha/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1" contract="ServerSenha.IService1" name="BasicHttpBinding_IService1"/>
      <endpoint address="http://34.123.130.117:19745/senha/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReferenceLocal.IService1" name="BasicHttpBinding_IService11"/>
    </client>
  </system.serviceModel>
</configuration>