GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_ICMSIPI_1010]    Script Date: 02/03/2017 10:00:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sp_EFD_ICMSIPI_1010 

CREATE    PROC [dbo].[sp_EFD_ICMSIPI_1010]

AS
	SELECT '1010|N|N|N|N|N|N|N|N|N'

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_ICMSIPI_C176]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO


CREATE   Procedure [dbo].[sp_EFD_ICMSIPI_C176]   
	@Filial			AS Varchar(20),
	@Fornecedor		As Varchar(20),
	@Codigo			As Varchar(20),
	@Plu			As Varchar(17)


AS                            
BEGIN

	SELECT 
		REG = 'C176',
		MCOD_MOD_ULT_E = a.modelo,
		NUM_DOC_ULT_E = a.codigo,
		SER_ULT_E = '1',
		DT_ULT_E = a.data,
		COD_PART_ULT_E = a.cliente_fornecedor, 
		QUANT_ULT_E = a.qtde,
		VL_UNIT_ULT_E = a.unitario,
		VL_UNIT_BC_ST = a.base_iva		

	FROM
		NF_item_devolucao a
	WHERE
		Filial = @filial	
		AND LTRIM(RTRIM(LTRIM(Cliente_Fornecedor))) = @fornecedor
		and CONVERT(FLOAT, Codigo_ORIGEM) = CONVERT(FLOAT, @codigo)
		and Plu = @plu



	RETURN                          
                      
END














GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_ICMSIPI_C190]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- sp_EFD_ICMSIPI_C190 'MATRIZ', '20170101', '20170131', 'PRATIKOS ALIMENTOS', '10088'
CREATE         Procedure [dbo].[sp_EFD_ICMSIPI_C190]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8),
	@Fornecedor		As Varchar(20),
	@NroNota		As Varchar(10)
AS                            
BEGIN
	BEGIN
		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' AND TABLE_NAME='EFD_C190')
			BEGIN
				DROP TABLE EFD_C190

				CREATE TABLE EFD_C190
					(REG VARCHAR(4),
					CST_ICMS VARCHAR(4),
					CFOP VARCHAR(4),
					ALIQ_ICMS NUMERIC(5,2),
					VL_OPR NUMERIC(14,2),
					VL_BC_ICMS NUMERIC(14,2),
					VL_ICMS NUMERIC(12,2),
					VL_BC_ICMS_ST NUMERIC(12,2),
					VL_ICMS_ST NUMERIC(12,2),
					VL_RED_BC NUMERIC(12,2),
					VL_IPI  NUMERIC(12,2),
					COD_OBS  VARCHAR(250))
			END
		ELSE
			BEGIN
				CREATE TABLE EFD_C190
					(REG VARCHAR(4),
					CST_ICMS VARCHAR(4),
					CFOP VARCHAR(4),
					ALIQ_ICMS NUMERIC(5,2),
					VL_OPR NUMERIC(14,2),
					VL_BC_ICMS NUMERIC(14,2),
					VL_ICMS NUMERIC(12,2),
					VL_BC_ICMS_ST NUMERIC(12,2),
					VL_ICMS_ST NUMERIC(12,2),
					VL_RED_BC NUMERIC(12,2),
					VL_IPI  NUMERIC(12,2),
					COD_OBS  VARCHAR(250))
			END

	END	

	BEGIN

		SELECT 
			REG = 'C190',
			CST_ICMS = case when len(t.CST_SPED) >= 3 then  t.CST_SPED else '0' + t.CST_SPED End,
			CFOP = CONVERT(VARCHAR(4), b.Codigo_Operacao),
			ALIQ_ICMS = Convert(Numeric(5,2),ISNULL(case when b.Tipo_NF = 1 then b.Aliquota_ICMS else case when ISNULL(t.Incide_ICMS, 0) = 0 then 0 else CASE WHEN t.CST_SPED = '101' and ISNULL(b.pCredSN, 0) > 0 THEN b.pCredSN ELSE t.Entrada_ICMS end end end,0)),
			VL_OPR = Convert(Numeric(14,2),(b.Total + isnull(b.IPIV, 0) + isnull(b.IVA, 0) + isnull(b.Despesas, 0))),
			VL_BC_ICMS =  Convert(Numeric(14,2),(CASE WHEN ISNULL(t.Incide_ICMS, 0) = 1 THEN  (b.Total * (1 - (ISNULL(t.Redutor,0) / 100))) ELSE 0 End)),
			VL_ICMS = Convert(Numeric(12,2),(CASE WHEN ISNULL(t.Incide_ICMS, 0) = 1 THEN  (b.Total * (1 - (ISNULL(t.Redutor,0) / 100))) ELSE 0 End * (CASE WHEN b.Tipo_NF = 1 then t.Saida_ICMS else CASE WHEN t.CST_SPED = '101' and ISNULL(b.pCredSN, 0) > 0 THEN b.pCredSN ELSE t.Entrada_ICMS end end / 100))),
			VL_BC_ICMS_ST = CASE WHEN ISNULL(t.ICMSST_EmOutrasDespesas, 0) = 0 AND ISNULL(t.Incide_ICM_Subistituicao, 0) = 1 THEN b.Base_IVA ELSE Case When b.Tipo_NF = 1 Then b.Base_IVA Else 0 END END,
			VL_ICMS_ST = CASE WHEN ISNULL(t.ICMSST_EmOutrasDespesas, 0) = 0 AND ISNULL(t.Incide_ICM_Subistituicao, 0) = 1 THEN b.IVA ELSE Case When b.Tipo_NF = 1 Then b.IVA Else 0 END END,
			VL_RED_BC = Convert(Numeric(12,2),(CASE WHEN t.Indice_ST = '20' OR t.Indice_ST = '70' THEN  (b.Total * (case when b.Tipo_NF = 1 then isnull(t.Redutor, 0) else isnull(b.Redutor_Base, 0) end / 100)) ELSE 0 END)),
			--VL_RED_BC = AVG(CASE WHEN t.Indice_ST = '20' OR t.Indice_ST = '70' THEN  (b.Total * (case when b.Tipo_NF = 1 then isnull(t.Redutor, 0) else isnull(b.Redutor_Base, 0) end / 100)) ELSE 0 End),
			VL_IPI = CASE WHEN ISNULL(t.IPI_EmOutrasDespesas, 0) = 0 THEN Isnull(b.IPIV,0) ELSE 0 END,
			COD_OBS = ' '
		INTO 
			#C190
		FROM
			NF a 
			INNER JOIN NF_Item b ON a.FILIAL = b.FILIAL AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR AND a.Codigo = b.Codigo		
			INNER JOIN Tributacao t ON t.Codigo_Tributacao = b.Codigo_Tributacao
			INNER JOIN Mercadoria m ON m.PLU = b.PLU
	
		WHERE
			a.Filial = @Filial
			AND a.Data BETWEEN @DataInicio AND @DataFim
			AND LTRIM(RTRIM(LTRIM(a.Cliente_Fornecedor))) = @Fornecedor
			AND Convert(Numeric,a.Codigo) = @NroNota
	END
	BEGIN
		INSERT INTO 
			EFD_C190
		SELECT 
			REG,
			CST_ICMS,
			CFOP,
			ALIQ_ICMS,
			VL_OPR = SUM(VL_OPR),
			VL_BC_ICMS =  SUM(VL_BC_ICMS),
			VL_ICMS = SUM(VL_ICMS),
			VL_BC_ICMS_ST = SUM(VL_BC_ICMS_ST),
			VL_ICMS_ST = SUM(VL_ICMS_ST),
			VL_RED_BC = AVG(VL_RED_BC),
			VL_IPI = SUM(VL_IPI),
			COD_OBS
		FROM
			#C190

		GROUP BY
			REG,
			CST_ICMS,
			CFOP,
			ALIQ_ICMS,
			COD_OBS
		ORDER BY 1,2
	END

	SELECT * FROM EFD_C190
                        
                      
END





GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_ICMSIPI_C490]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_EFD_ICMSIPI_C490 'MATRIZ',4,'20130301'

CREATE        Procedure [dbo].[sp_EFD_ICMSIPI_C490] 
	@Filial	As Varchar(20),
	@Caixa	As Integer,
	@Data	As Varchar(8),
	@COOINI	As Bigint,
	@COOFIM	As BigInt
	
AS	

	BEGIN
		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' AND TABLE_NAME='EFD_C490')
			BEGIN
				DROP TABLE EFD_C490
	
			END
	END


	BEGIN
		SELECT
		       	REG = 'C490',
		       	CST_ICMS = '0' + RTRIM(LTRIM(CASE WHEN b.NRO_ECF = 4 THEN '60' 
							  WHEN b.NRO_ECF = 5 THEN '40' 
							  WHEN b.NRO_ECF = 6 THEN '41'
							ELSE '00' END )),
		       	CFOP = CASE WHEN b.NRO_ECF = 4 THEN '5403' ELSE '5102' END,
			--** Aliuota ICMS	
			ALIQ_ICMS =  CASE WHEN b.NRO_ECF = 4 THEN 0 ELSE b.Aliquota_ICMS END,
			VL_OPR = b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0),
			VL_BC_ICMS = CASE WHEN b.NRO_ECF = 4 OR b.NRO_ECF = 5 THEN 0 ELSE b.VLR-ISNULL(Desconto,0)+Isnull(Acrescimo,0) END
		INTO
			#EFD_ICMSIPI_C490
		FROM
		
		       Mercadoria a INNER JOIN Saida_Estoque b ON a.PLU = b.PLU
		
		       INNER JOIN Tributacao t ON t.Codigo_Tributacao = a.Codigo_Tributacao 
		WHERE
		       b.Filial = @Filial
		
		       AND b.Data_Cancelamento IS NULL
		
		       AND b.Data_Movimento = @Data
		
		       AND b.Caixa_Saida = @Caixa
		       
		       AND Convert(Int,b.Documento) BETWEEN @COOINI AND @COOFIM

	END	
	--** 
	BEGIN
		SELECT 
			REG,
			CST_ICMS,
			CFOP,
			ALIQ_ICMS,
			VL_OPR = SUM(VL_OPR),
			VL_BC_ICMS = SUM(ISNULL(VL_BC_ICMS,0)),
			VL_ICMS = SUM(ISNULL(VL_OPR * (ALIQ_ICMS/100),0)),
			COD_OBS = ' '
		INTO
			EFD_C490
		FROM
			#EFD_ICMSIPI_C490
		GROUP BY
			REG,
			CST_ICMS,
			CFOP,
			ALIQ_ICMS
	END		
	
	SELECT * FROM EFD_C490








GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_ICMSIPI_E100]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- STORED PROCEDURE
-- sp_EFD_ICMSIPI_E100 'MATRIZ', '20120301', '20120331'
CREATE  Procedure [dbo].[sp_EFD_ICMSIPI_E100]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS                            
BEGIN

	SELECT 
		REG = 'E100',
		DT_INI = @DataInicio,
		DT_FIM = @DataFim

	RETURN                          
                      
END

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_ICMSIPI_H005]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[sp_EFD_ICMSIPI_H005]
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8)

--EFD_ICMSIPI_H005 'MATRIZ','31032013'
AS
	SELECT 
		REG = 'H005',
		COD_ITEM = @DATAINICIO,
		VL_INV = SUM(CONVERT(DECIMAL(12,2),Saldo * Preco_Custo)),
		MOT_INV = '01'
	FROM 
		MERCADORIA_ESTOQUE_MES
	WHERE
		Data = @DATAINICIO
	AND	
		ISNULL(Saldo,0) > 0 AND ISNULL(Preco_Custo, 0) > 0
	

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_ICMSIPI_H010]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--SP_EFD_ICMSIPI_H010 'MATRIZ', '20141231'
CREATE PROCEDURE [dbo].[sp_EFD_ICMSIPI_H010] 
	@FILIAL VARCHAR(20),
	@DATA VARCHAR(8)
AS
SELECT 
	REG = 'H010',
	COD_ITEM = MERCADORIA_ESTOQUE_MES.PLU,
	UNID = CASE WHEN ISNULL(MERCADORIA.PESO_VARIAVEL, 'NÃO') = 'PESO' THEN 'KG' ELSE 'UN' END,
	QTDE = CONVERT(DECIMAL(14,3), MERCADORIA_ESTOQUE_MES.SALDO),
	VL_UNIT = MERCADORIA_ESTOQUE_MES.PRECO_CUSTO,
	VL_ITEM = CONVERT(DECIMAL(12,2), MERCADORIA_ESTOQUE_MES.SALDO * MERCADORIA_ESTOQUE_MES.PRECO_CUSTO),
	IND_PROP = '0',
	COD_PART = '',
	TXT_COMPL = '',
	COD_CTA = '100100100'
FROM 
	MERCADORIA_ESTOQUE_MES INNER JOIN MERCADORIA ON MERCADORIA_ESTOQUE_MES.PLU = MERCADORIA.PLU
WHERE 
	MERCADORIA_ESTOQUE_MES.FILIAL = @FILIAL
AND
	MERCADORIA_ESTOQUE_MES.DATA = @DATA
AND 
	ISNULL(MERCADORIA_ESTOQUE_MES.SALDO, 0) > 0 AND ISNULL(MERCADORIA_ESTOQUE_MES.PRECO_CUSTO, 0) > 0


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0000]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







--STORED PROCEDURE

--Exec SP_EFD_PISCOFINS_0000 'MATRIZ', '20130701', '20130731', 0

CREATE   procedure [dbo].[sp_EFD_PisCofins_0000] 
	@Filial Varchar(20),
	@data_ini Varchar(8),
	@data_Fim Varchar(8),
	@Tipo Integer
AS              
              
BEGIN

	DECLARE  @errno   INT,                            
			 @errmsg  VARCHAR(255)                            

	IF @data_ini is null or @data_fim is null                            
		BEGIN                            
			SELECT 
				@errno  = 99999,                            
				@errmsg = 'Você deve preencher a Data Inicio e a Data Final'                          
			GOTO error                            
		END
	IF @Tipo = 1 
		BEGIN
			SELECT 
			--** Campo [REG] Texto fixo contendo "0000" C 004 - O
			'|0000' + 
			--** Campo [COD_VER] Código da versão do leiaute conforme a tabela indicada no Ato COTEPE N 003* - O
			'|011' + 
			--** Campo [COD_FIN] Código da finalidade do arquivo: N 001 - O
				--** 0 - Remessa do arquivo original;
				--** 1 - Remessa do arquivo substituto.
			'|0' +
			--** Campo DT_INI Data inicial das informações contidas no arquivo. N 008* - O
			'|' + @DATA_INI + 
			--** Campo DT_FIN Data final das informações contidas no arquivo. N 008* - O
			'|' + @DATA_FIM + 
			--** Campo NOME Nome empresarial da entidade. C 100 - O
			'|' + CASE WHEN LEN(RTRIM(LTRIM(ISNULL(razao_social,'')))) < 100 THEN LTRIM(RTRIM(ISNULL(razao_social,''))) ELSE SUBSTRING(LTRIM(RTRIM(ISNULL(razao_social,''))), 1, 100) END +        
			--** Campo CNPJ Número de inscrição da entidade no CNPJ. N 014* - OC
			-- TEMPORARIO
		        '|' + SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(cnpj,'')), '.', ''), '/', ''), '-', ''), 1, 14) +
			--** CPF
			'|' + 
			--** Campo UF Sigla da unidade da federação da entidade. C 002* - O
			'|' + LTRIM(RTRIM(UF)) + 
			--** IE
		        '|' + ISNULL(IE,'') +
			--** Campo COD_MUN Código do município do domicílio fiscal da entidade, conforme a tabela IBGE N 007* - O
			'|' + '3550308' + 
			--** Campo IM Inscrição Municipal da Entidade
			'|' + 
			--** Campo SUFRAMA Inscrição da entidade na SUFRAMA C 009* - OC
			'|' + 
			--** Perfil de apresentação do arquivo fiscal
				--** A - Perfil A;
				--** B - Perfil B;
				--** C - Perfil C.
			'|A' + 
			--** Campo IND_ATIV Indicador de tipo de atividade: N 001 - O
				--** 0 – Industrial ou equiparado a industrial;
				--** 1 – Outros.
			'|1|'
	
			 FROM Filial  WHERE filial = @Filial
		END
	ELSE
		BEGIN
			SELECT 
			--** Campo [REG] Texto fixo contendo "0000" C 004 - O
			'|0000' + 
			--** Campo [COD_VER] Código da versão do leiaute conforme a tabela indicada no Ato COTEPE N 003* - O
			'|003' + 
			--** Campo [COD_FIN] Código da finalidade do arquivo: N 001 - O
				--** 0 - Remessa do arquivo original;
				--** 1 - Remessa do arquivo substituto.
			'|0' +
			--** Indicador de situação especial
			'|' +
			--** Número do Recibo da Escrituração anterior a ser retificada, utilizando quando TIPO_ESCRIT for igual a 1
			'|' +
			--** Campo DT_INI Data inicial das informações contidas no arquivo. N 008* - O
			'|' + @DATA_INI + 
			--** Campo DT_FIN Data final das informações contidas no arquivo. N 008* - O
			'|' + @DATA_FIM + 
			--** Campo NOME Nome empresarial da entidade. C 100 - O
			'|' + CASE WHEN LEN(RTRIM(LTRIM(ISNULL(razao_social,'')))) < 100 THEN LTRIM(RTRIM(ISNULL(razao_social,''))) ELSE SUBSTRING(LTRIM(RTRIM(ISNULL(razao_social,''))), 1, 100) END +        
			--** Campo CNPJ Número de inscrição da entidade no CNPJ. N 014* - OC
			-- TEMPORARIO
		        '|' + SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(cnpj,'')), '.', ''), '/', ''), '-', ''), 1, 14) +
			--** Campo UF Sigla da unidade da federação da entidade. C 002* - O
			'|' + LTRIM(RTRIM(UF)) + 
			--** Campo COD_MUN Código do município do domicílio fiscal da entidade, conforme a tabela IBGE N 007* - O
			'|' + '3534401' + 
			--** Campo SUFRAMA Inscrição da entidade na SUFRAMA C 009* - OC
			'|' + 
			--** Indicador da natureza da pessoa jurídica
				--** 00 - Sociedade empresária em geral
				--** 01 - Sociedade cooperativa
				--** 02 - Entidade sujeita ao PIS/Pasep exclusivamente com base na Folha de Salários
			'|00' + 
			--** Campo IND_ATIV Indicador de tipo de atividade: N 001 - O
				--** 0 – Industrial ou equiparado a industrial;
				--** 1 – Prestador de serviços;
				--** 2 - Atividade de comércio;
				--** 3 – Atividade financeira;
				--** 4 – Atividade imobiliária;
				--** 9 – Outros.
			'|2|'
	
			 FROM Filial  WHERE filial = @Filial
		END


		RETURN                          

	error:                            
		RAISERROR @errno @errmsg                            
		RETURN                          
END



























select * from unidade_federacao where nome_munic like '%osasco%'




GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0001]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE

CREATE Procedure [dbo].[sp_EFD_PisCofins_0001]   
AS                            
BEGIN

	SELECT 
	--** Campo [REG] Texto fixo contendo "0001" C 004 - O
	'|0001' + 
	--** Campo [IND_MOV] Indicador de movimento: N 001 - O
		--** 0 - Bloco com dados informados;
		--** 1 - Bloco sem dados informados.
	'|0|'

		RETURN                          
                      
END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0005]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








--Exec SP_EFD_PISCOFINS_0005 'MATRIZ'

CREATE   Procedure [dbo].[sp_EFD_PisCofins_0005] 
	@Filial Varchar(20)

AS              

BEGIN

	DECLARE  @errno   INT,                            
			 @errmsg  VARCHAR(255)                            


	SELECT 
	--** Campo [REG] Texto fixo contendo "0005" C 004 - O
	REG = '0005' , 
	--** Nome Fantasia
	COD_EST = FILIAL,
	--** CEP
	CEP = REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(CEP,'')), '.', ''), '/', ''), '-', ''),
	--** LOGRADOURO E ENDEREÇO DO IMOVEL
	[END] = RTRIM(LTRIM(ISNULL(ENDERECO,''))),
	NUM = RTRIM(LTRIM(ISNULL(ENDERECO_NRO,''))),
	COMPL = '',
	BAIRRO = RTRIM(LTRIM(ISNULL(BAIRRO,''))),
	FONE = '11' + REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(TELEFONE,'')), '.', ''), '/', ''), '-', ''),
	FAX = '11'+REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(TELEFONE,'')), '.', ''), '/', ''), '-', ''),
	EMAIL = ''

	 FROM 
		FILIAL
	 WHERE 

		fILIAL in (@FILIAL)

	RETURN                          

	error:                            
		RAISERROR @errno @errmsg                            
		RETURN                          
END



































GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0100]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--sp_EFD_PisCofins_0100 

CREATE  PROC [dbo].[sp_EFD_PisCofins_0100]

AS
--	SELECT '|0100|NOME CONTABILISTA|CPF|CRC|CNPJ|CEP|ENDERECO|NUMERO|COMPLEMTNO DO ENDERECO|BAIRRO|FONE|FAX|EMAIL|CODMUN|'
	select '|0100|ALEXANDRA DE ASSIS BECHARA|14727987830|1SP199165/O0||03612000|AVENIDA DR. GUILHERME DUMONT VILLARES|1086||MORUMBI|01125751800||alexandra@mg.com.br|3550308|'


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0110]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















/*
Nº	Campo			Descrição	Tipo	Tam	Dec	Obrig
01 	REG 			Texto fixo contendo “0110”. 	C 	004* 	- 	S
02 	COD_INC_TRIB	Código indicador da incidência tributária no período:
					1 – Escrituração de operações com incidência exclusivamente no regime não-cumulativo;
					2 – Escrituração de operações com incidência exclusivamente no regime cumulativo;
					3 – Escrituração de operações com incidência nos regimes não-cumulativo e cumulativo.	
								N 		001*	- 	S
03	IND_APRO_CRED	Código indicador de método de apropriação de créditos comuns, no caso de incidência no regime não-cumulativo (COD_INC_TRIB = 1 ou 3):
					1 – Método de Apropriação Direta;
					2 – Método de Rateio Proporcional (Receita Bruta)	
								N		001*	-	N
04	COD_TIPO_CONT	Código indicador do Tipo de Contribuição Apurada no Período
					1 – Apuração da Contribuição Exclusivamente a Alíquota Básica
					2 – Apuração da Contribuição a Alíquotas Específicas (Diferenciadas e/ou por Unidade de Medida de Produto)	
								N 	001*	- 	N

*/

create  Procedure [dbo].[sp_EFD_PisCofins_0110]   
AS                            
BEGIN


	SELECT 
	'|0110' + 
	'|1' + --Escrituração de operações com incidência exclusivamente no regime não-cumulativo;
	'|1'+ --Método de Apropriação Direta;
	'|1||' --Apuração da Contribuição Exclusivamente a Alíquota Básica

		RETURN                          
                      
END





























GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0111]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_EFD_PisCofins_0111 'MATRIZ', '20110701',	'20110731'
CREATE Procedure [dbo].[sp_EFD_PisCofins_0111]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS                            
BEGIN


	SELECT 
		REG = '0111',
		REC_BRU_NCUM_TRIB_MI = ISNULL((SELECT SUM(VLR) FROM Saida_Estoque a INNER JOIN Mercadoria b ON a.PLU = b.PLU
				WHERE
					a.Filial = Filial.Filial
					AND REPLACE(CONVERT(VARCHAR,a.Data_Movimento,102),'.','') BETWEEN @DataInicio AND @DataFim
					AND a.Data_Cancelamento IS Null
					AND b.Incide_pis IN (1,3)),0),
		REC_BRU_NCUM_NT_MI = ISNULL((SELECT SUM(VLR) FROM Saida_Estoque a INNER JOIN Mercadoria b ON a.PLU = b.PLU
				WHERE
					a.Filial = Filial.Filial
					AND REPLACE(CONVERT(VARCHAR,a.Data_Movimento,102),'.','') BETWEEN @DataInicio AND @DataFim
					AND a.Data_Cancelamento IS Null
					AND b.Incide_pis NOT IN (1,3)),0),
		REC_BRU_NCUM_EXP = CONVERT(NUMERIC(12,2),0),
		REC_BRU_CUM = CONVERT(NUMERIC(12,2),0),
		REC_BRU_TOTAL = ISNULL((SELECT SUM(VLR) FROM Saida_Estoque a INNER JOIN Mercadoria b ON a.PLU = b.PLU
				WHERE
					a.Filial = Filial.Filial
					AND REPLACE(CONVERT(VARCHAR,a.Data_Movimento,102),'.','') BETWEEN @DataInicio AND @DataFim
					AND a.Data_Cancelamento IS Null),0)
		FROM 
			Filial
		WHERE
			Filial = @Filial

		RETURN                          
                      
END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0140]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec SP_EFD_PISCOFINS_0140 'MATRIZ', '20100601', '20110731'

CREATE     Procedure [dbo].[sp_EFD_PisCofins_0140] 
	@Filial Varchar(20),
	@data_ini Varchar(23),
	@data_Fim Varchar(23)

AS              
              
BEGIN

	DECLARE  @errno   INT,                            
			 @errmsg  VARCHAR(255)                            


	SELECT 
	--** Campo [REG] Texto fixo contendo "0140" C 004 - O
	REG = '0140' , 
	COD_EST = FILIAL.RAZAO_SOCIAL,
	--** Campo NOME Nome empresarial da entidade. C 100 - O
	NOME = CASE WHEN LEN(RTRIM(LTRIM(ISNULL(razao_social,'')))) < 100 THEN LTRIM(RTRIM(ISNULL(razao_social,''))) ELSE SUBSTRING(LTRIM(RTRIM(ISNULL(razao_social,''))), 1, 100) END ,      
	--** Campo CNPJ Número de inscrição da entidade no CNPJ. N 014* - OC
    CNPJ = SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(cnpj,'')), '.', ''), '/', ''), '-', ''), 1, 14),
	--** Campo UF Sigla da unidade da federação da entidade. C 002* - O
	UF = LTRIM(RTRIM(UF)),
	--** Campo IE Inscrição Estadual
    IE = SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(IE,'')), '.', ''), '/', ''), '-', ''), 1, 14),
	--** Campo COD_MUN Código do município do domicílio fiscal da entidade, conforme a tabela IBGE N 007* - O
	COD_MUN = ISNULL((SELECT TOP 1 RTRIM(LTRIM(Munic)) 
				FROM Unidade_Federacao 
				WHERE RTRIM(LTRIM(NOME_MUNIC)) = RTRIM(LTRIM(FILIAL.Cidade))),'3550308'),
	--** Inscrição Municipal
	INSC_MUNIC = '',
	--** Ubscrição Suframa
	SUFRAMA = ''
	 FROM 
		FILIAL
	 WHERE 
		/*
		Exists(SELECT * 
					FROM 
						NF a INNER JOIN NF_Item b 
							ON a.FILIAL = b.FILIAL 
							AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR 
							AND a.Codigo = b.Codigo
					WHERE 
						RTRIM(LTRIM(Fornecedor.Fornecedor)) = RTRIM(LTRIM(a.Cliente_Fornecedor))
						AND a.Filial = @Filial
						AND REPLACE(CONVERT(VARCHAR,a.Data,102),'.','') BETWEEN @Data_Ini AND @Data_Fim)*/

	FILIAL.FILIAL in (@FILIAL)

		RETURN                          

	error:                            
		RAISERROR @errno @errmsg                            
		RETURN                          

END

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0150]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--Exec SP_EFD_PISCOFINS_0150 'matriz', '20150501', '20150531'

CREATE      procedure [dbo].[sp_EFD_PisCofins_0150] 
	@Filial Varchar(20),
	@data_ini Varchar(23),
	@data_Fim Varchar(23)

AS              
              
BEGIN

	DECLARE  @errno   INT,                            
	@errmsg  VARCHAR(255)                            


SELECT 
	Distinct
	--** Campo [REG] Texto fixo contendo "0140" C 004 - O
	REG = '0150' , 
	COD_PART = Max(Fornecedor.Fornecedor),
	--** Campo NOME Nome empresarial da entidade. C 100 - O
	NOME = CASE WHEN LEN(RTRIM(LTRIM(ISNULL(Max(razao_social),'')))) < 100 THEN LTRIM(RTRIM(ISNULL(Max(razao_social),''))) ELSE SUBSTRING(LTRIM(RTRIM(ISNULL(Max(razao_social),''))), 1, 100) END ,      
	PAIS = '1058',
	--** Campo CNPJ Número de inscrição da entidade no CNPJ. N 014* - OC
	CNPJ = SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(cnpj,'')), '.', ''), '/', ''), '-', ''), 1, 14),
	CPF = '',
	--** Campo IE Inscrição Estadual
        IE = SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(IE,'')), '.', ''), '/', ''), '-', ''), 1, 14),
	--** Campo COD_MUN Código do município do domicílio fiscal da entidade, conforme a tabela IBGE N 007* - O
	COD_MUN = isnull(Max(Fornecedor.codMun), ISNULL((SELECT TOP 1 RTRIM(LTRIM(Munic)) 
				FROM Unidade_Federacao 
				WHERE RTRIM(LTRIM(NOME_MUNIC)) = RTRIM(LTRIM(Max(Fornecedor.Cidade))) 
					and Max(fornecedor.uf) = sigla_uf),'3550308')),
	SUFRAMA = '',
	[END] = RTRIM(LTRIM(ISNULL(Max(ENDERECO),''))),
	NUM = RTRIM(LTRIM(ISNULL(Max(ENDERECO_NRO),''))),
	COMPL = '',
	BAIRRO = RTRIM(LTRIM(ISNULL(Max(BAIRRO),'')))

FROM 
	Fornecedor        
WHERE 
--	Filial = @Filial
--And		
	rtrim(ltrim(fornecedor)) in 
		(select Distinct rtrim(ltrim(a.cliente_fornecedor))
			from nf a
			inner join nf_item b on 
				a.filial=b.filial 
				and a.cliente_fornecedor= b.cliente_fornecedor
				--and a.Fornecedor_Cnpj  = Fornecedor.CNPJ 
				and a.codigo=b.codigo 
				--inner join Fornecedor f on Convert(Varchar(18),a.Fornecedor_Cnpj) = Convert(Varchar(18),f.CNPJ)
				inner join Fornecedor f on REPLACE(REPLACE(REPLACE(Convert(Varchar(18),a.Fornecedor_Cnpj), '.', ''), '/', ''), '-', '') = REPLACE(REPLACE(REPLACE(Convert(Varchar(18),f.CNPJ), '.', ''), '/', ''), '-', '') 
			where
				data between @Data_ini and @Data_Fim and a.filial=@filial) -- and a.codigo_operacao <> '5929')

--and filial=@filial
Group by Fornecedor.CNPJ, Fornecedor.IE 				
				
Union All

SELECT 
	Distinct
	--** Campo [REG] Texto fixo contendo "0140" C 004 - O
	REG = '0150' , 
	COD_PART = Cliente.Codigo_Cliente,
	--** Campo NOME Nome empresarial da entidade. C 100 - O
	NOME = CASE WHEN LEN(RTRIM(LTRIM(ISNULL(Nome_Cliente,'')))) < 100 THEN LTRIM(RTRIM(ISNULL(Nome_Cliente,''))) ELSE SUBSTRING(LTRIM(RTRIM(ISNULL(Nome_Cliente,''))), 1, 100) END ,      
	PAIS = '1058',
	--** Campo CNPJ Número de inscrição da entidade no CNPJ. N 014* - OC
        CNPJ =case when isnull(cliente.pessoa_juridica,0) = 1 then SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(cnpj,'')), '.', ''), '/', ''), '-', ''), 1, 14) else '' end,
	CPF = case when isnull(cliente.pessoa_juridica,0) = 0 then SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(cnpj,'')), '.', ''), '/', ''), '-', ''), 1, 11) else '' end ,
	--** Campo IE Inscrição Estadual
        IE = SUBSTRING(REPLACE(REPLACE(REPLACE(replace(RTRIM(ISNULL(IE,'')),'isento',''), '.', ''), '/', ''), '-', ''), 1, 14),
	--** Campo COD_MUN Código do município do domicílio fiscal da entidade, conforme a tabela IBGE N 007* - O
	COD_MUN = ISNULL((SELECT TOP 1 RTRIM(LTRIM(Munic)) 
				FROM Unidade_Federacao 
				WHERE RTRIM(LTRIM(NOME_MUNIC)) = RTRIM(LTRIM(cliente.Cidade)) 
					and cliente.uf = sigla_uf),'3550308'),
	SUFRAMA = '',
	[END] = RTRIM(LTRIM(ISNULL(ENDERECO,''))),
	NUM = RTRIM(LTRIM(ISNULL(ENDERECO_NRO,''))),
	COMPL = '',
	BAIRRO = RTRIM(LTRIM(ISNULL(BAIRRO,'')))

FROM 
	Cliente        
WHERE 
		
	rtrim(ltrim(codigo_cliente)) in 
		(select rtrim(ltrim(a.cliente_fornecedor))
			from nf a
			inner join nf_item b on 
				a.filial=b.filial 
				and a.cliente_fornecedor= b.cliente_fornecedor
				and a.codigo=b.codigo 
			where
				data between @Data_ini and @Data_Fim and a.filial = @Filial and a.codigo_operacao <> 5929 and a.codigo_operacao <> 6929 )
RETURN                          

	error:                            
		RAISERROR @errno @errmsg                            
		RETURN                          
END




GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0190]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- STORED PROCEDURE
/*
Exec sp_EFD_PisCofins_0190 'MATRIZ', '20131201', '20131231'
*/

CREATE  procedure [dbo].[sp_EFD_PisCofins_0190]   
	@Filial	AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8)
AS  
                          
BEGIN
	SELECT 
		--** Campo [REG] Texto fixo contendo "0001" C 004 - O
		'|0190' + 
		--** Campo [IND_MOV] Indicador de movimento: N 001 - O
			--** 0 - Bloco com dados informados;
			--** 1 - Bloco sem dados informados.
		'|' + RTRIM(LTRIM(UND)) + 
		'|' + RTRIM(LTRIM(DESCRICAO)) + '|'

	FROM 
		Unidade
	WHERE
		und 
			IN (SELECT DISTINCT und FROM Mercadoria
					WHERE 
				(EXISTS(SELECT * 
							FROM 
							NF_ITEM A 
							INNER JOIN NF B ON A.FILIAL = B.FILIAL AND A.CODIGO = B.CODIGO AND A.CLIENTE_FORNECEDOR = B.CLIENTE_FORNECEDOR
							WHERE
								A.FILIAL = @FILIAL
								AND DATA BETWEEN @DATAINICIO AND @DATAFIM
								AND MERCADORIA.PLU = A.PLU
								AND A.CODIGO_OPERACAO NOT IN (5929, 9999))
			OR 
				EXISTS(SELECT * 
							FROM SAIDA_ESTOQUE 
							WHERE FILIAL = @FILIAL
								AND SAIDA_ESTOQUE.PLU = MERCADORIA.PLU
								AND SAIDA_ESTOQUE.CAIXA_SAIDA IN (SELECT CAIXA FROM CONTROLE_FILIAL_PDV)
								AND DATA_MOVIMENTO BETWEEN @DATAINICIO AND @DATAFIM
								AND data_cancelamento IS NULL))
			)
	
	RETURN                          
                      
END











GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0200]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0200]    Script Date: 01/03/2017 09:44:14 ******/


--sp_EFD_PisCofins_0200 'MATRIZ','20161101', '20161130'

CREATE         procedure [dbo].[sp_EFD_PisCofins_0200]
	@Filial	AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8)
AS

SELECT Distinct Plu into #0200Plu
					FROM SAIDA_ESTOQUE with (index (IX_Saida_Estoque))
					WHERE FILIAL = @Filial
						--AND SAIDA_ESTOQUE.PLU = MERCADORIA.PLU
						AND SAIDA_ESTOQUE.CAIXA_SAIDA IN (SELECT CAIXA FROM CONTROLE_FILIAL_PDV WHERE Controle_Filial_PDV.Filial = Saida_estoque.filial and Controle_Filial_PDV.NGS = 0)
						AND DATA_MOVIMENTO BETWEEN @DataInicio AND @DataFim AND data_cancelamento IS NULL --And Not PLU in(100100,99077))
						
						
SELECT Distinct PLU into #0200NF_Item 
		FROM 
		NF_ITEM A with (index (IX_NF_Item_0200))
		INNER JOIN NF B ON A.FILIAL = B.FILIAL AND A.CLIENTE_FORNECEDOR = B.CLIENTE_FORNECEDOR AND A.CODIGO = B.CODIGO  
		INNER JOIN Natureza_operacao NatOp ON  NatOp.filial = b.Filial and NatOp.Codigo_operacao=b.Codigo_operacao
WHERE
	A.FILIAL = @Filial
AND 
	DATA BETWEEN @DataInicio AND @DataFim
and a.codigo_operacao not in (6929,5929)
and ISNULL(b.nf_Canc,0)<>1
and (b.Tipo_NF=2 or (isnull(NatOp.NF_devolucao,0)=1 AND a.codigo_operacao > 6000 ))
--AND 
--	EXISTS(SELECT * FROM FORNECEDOR F WHERE F.FORNECEDOR = B.CLIENTE_FORNECEDOR )
	
--SELECT Distinct PLU into #0200NF_ItemCliente 
--		FROM 
--		NF_ITEM A with (index (IX_NF_Item_0200))
--		INNER JOIN NF B ON A.FILIAL = B.FILIAL AND A.CODIGO = B.CODIGO --AND A.CLIENTE_FORNECEDOR = B.CLIENTE_FORNECEDOR 
--WHERE
--	A.FILIAL = @Filial
----AND
----	Not A.Codigo_Operacao in ('5102')	
--AND 
--	DATA BETWEEN @DataInicio AND @DataFim
--AND 
--	EXISTS(SELECT * FROM Cliente CI WHERE CI.Codigo_Cliente = B.CLIENTE_FORNECEDOR )


	SELECT
		REG = '0200',
		COD_ITEM = PLU,
		DESCR_ITEM = ISNULL(DESCRICAO,'PRODUTO'),
		COD_BARRA = ISNULL((SELECT TOP 1 EAN FROM Ean WHERE Ean.PLU = Mercadoria.PLU),''), 
		COD_ANT_ITEM = '',
		UNID_INV = CASE WHEN ISNULL(PESO_VARIAVEL, 'NÃO') = 'PESO' THEN 'KG' ELSE 'UN' END,
		TIPO_ITEM = '00',
		COD_NCM = CASE WHEN LEN(RTRIM(LTRIM(REPLACE(CF,'.','')))) = 8 THEN RTRIM(LTRIM(REPLACE(CF,'.',''))) ELSE '' END ,
		EX_IPI = '',
		COD_GEN = '',
		COD_LST = '',
		ALIQ_ICMS = (SELECT TOP 1 SAIDA_ICMS FROM Tributacao WHERE Tributacao.Codigo_Tributacao = Mercadoria.Codigo_Tributacao)--,
		--CEST = ISNULL(CEST, '')
	FROM
		MERCADORIA with (index (PK_Mercadoria))
	Where
		mercadoria.plu in (Select PLU From #0200Plu p )
	Or	
		mercadoria.plu in (Select PLU From #0200NF_Item i)	
	--Or	
		--Exists(Select * From #0200NF_ItemCliente ci Where ci.Plu = mercadoria.Plu)			
		
		/*
	WHERE 
		EXISTS(SELECT * 
					FROM 
					NF_ITEM A 
					INNER JOIN NF B ON A.FILIAL = B.FILIAL AND A.CODIGO = B.CODIGO AND A.CLIENTE_FORNECEDOR = B.CLIENTE_FORNECEDOR
					WHERE
						A.FILIAL = @FILIAL
						AND DATA BETWEEN @DATAINICIO AND @DATAFIM
						AND MERCADORIA.PLU = A.PLU AND EXISTS(SELECT * FROM FORNECEDOR F WHERE F.FORNECEDOR = B.CLIENTE_FORNECEDOR ))
	Or 
		EXISTS(SELECT * 
					FROM SAIDA_ESTOQUE 
					WHERE FILIAL = @FILIAL
						AND SAIDA_ESTOQUE.PLU = MERCADORIA.PLU
						AND SAIDA_ESTOQUE.CAIXA_SAIDA IN (SELECT CAIXA FROM CONTROLE_FILIAL_PDV WHERE Controle_Filial_PDV.Filial = Saida_estoque.filial)
						AND DATA_MOVIMENTO BETWEEN @DATAINICIO AND @DATAFIM AND data_cancelamento IS NULL) --And Not PLU in(100100,99077))
						*/
	--left outer join mercadoria_loja on mercadoria.plu = mercadoria.loja.plu
	--OR
		--(IsNull(Saldo_Atual, 0) > 0 AND ISNULL(Preco_Custo, 0) > 0)
		
	ORDER BY CONVERT(FLOAT,MERCADORIA.PLU)






GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_0400]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--PROCEDURES =======================================================================================
CREATE        PROC [dbo].[sp_EFD_PisCofins_0400]
	@FILIAL VARCHAR(20),
	@DATAINI VARCHAR(8),
	@DATAFIM VARCHAR (8)
as

--SP_EFD_PISCOFINS_0400 'MATRIZ', '20141001', '20141031'
SELECT DISTINCT '|0400|' + convert(varchar (4),CODIGO_OPERACAO) + '|' + rtrim(ltrim(descricao)) + '|'  
FROM NATUREZA_OPERACAO
WHERE CODIGO_OPERACAO IN (

SELECT DISTINCT 
	a.CODIGO_OPERACAO
	FROM
		NF a INNER JOIN NF_Item b ON 
					a.FILIAL = b.FILIAL 
					AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR 
					AND a.Codigo = b.Codigo		
		INNER JOIN Mercadoria M ON b.PLU = m.PLU
		LEFT OUTER JOIN Tributacao c ON c.Codigo_Tributacao = b.Codigo_Tributacao AND c.Filial = b.Filial
		

	WHERE
		a.Filial = @FILIAL
		AND a.Codigo_Operacao not in (5929, 6929)
		AND a.Data BETWEEN @DATAINI AND @DATAFIM)

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_A001]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE

CREATE Procedure [dbo].[sp_EFD_PisCofins_A001]   
AS                            
BEGIN

	SELECT 
	'|A001|1|'

		RETURN                          
                      
END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C001]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE

CREATE Procedure [dbo].[sp_EFD_PisCofins_C001]   
AS                            
BEGIN

	SELECT 
	--** Campo [REG] Texto fixo contendo "0001" C 004 - O
	'|C001' + 
	--** Campo [IND_MOV] Indicador de movimento: N 001 - O
		--** 0 - Bloco com dados informados;
		--** 1 - Bloco sem dados informados.
	'|0|'

		RETURN                          
                      
END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C010]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE
-- sp_EFD_PisCofins_C010 'MATRIZ', '20110401', '20110430', 'AMBEV'
CREATE    Procedure [dbo].[sp_EFD_PisCofins_C010]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS                            
BEGIN

	SELECT DISTINCT
		REG = 'C010',
		COD_PART = Filial,
		CNPJ = SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(cnpj,'')), '.', ''), '/', ''), '-', ''), 1, 14),
		IND_ESCRI = ''
	FROM
		Filial

	WHERE
		Filial = @Filial

	RETURN                          
                      
END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C100]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- STORED PROCEDURE
-- sp_EFD_PisCofins_C100 'MATRIZ', '20150501', '20150531'
CREATE      Procedure [dbo].[sp_EFD_PisCofins_C100]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS                            
BEGIN



	SELECT 
		REG = 'C100',
		IND_OPER = '0',
		IND_EMIT = CASE WHEN a.Tipo_NF = '2' THEN '1'ELSE '0' END ,
		COD_PART = a.Cliente_Fornecedor,
		COD_MOD = case when a.id <> '' then '55' else '01'end,
		COD_SIT = '00',
		SER = case when Substring(a.id,23,3) = '' then '001' else Substring(a.id,23,3) end, --,'001',		
		NUM_DOC = a.Codigo,
		CHV_NFE = isnull(a.id,''),
		DT_DOC = a.Emissao,
		DT_E_S = CASE WHEN a.Data < a.Emissao THEN a.Emissao ELSE a.Data END,
		VL_DOC = SUM(b.Total + ISNULL(b.IPIV,0) + ISNULL(b.IVA,0) + ISNULL(b.Despesas,0)),
		IND_PGTO = '0',
		VL_DESC = a.desconto,
		VL_ABAT_NF = CONVERT(FLOAT,0),
		VL_MERC = SUM(b.TOTAL),
		IND_FRT = '1',
		VL_FRT = SUM(ISNULL(a.Frete,0)),
		VL_SEG = CONVERT(FLOAT,0),
		VL_OUT_DA = SUM(ISNULL(b.Despesas,0) + ISNULL(CASE WHEN ISNULL(c.ICMSST_EmOutrasDespesas, 0) = 1 THEN Isnull(b.IVA,0) ELSE 0 END,0)+ISNULL(CASE WHEN ISNULL(c.IPI_EmOutrasDespesas, 0) = 1 THEN Isnull(b.IPIV,0) ELSE 0 END,0)),
		VL_BC_ICMS = SUM(CASE WHEN ISNULL(c.Incide_ICMS, 0) = 1 THEN  (b.Total * (1 - (ISNULL(c.Redutor,0) / 100))) ELSE 0 End),
		VL_ICMS = SUM(CASE WHEN ISNULL(c.Incide_ICMS, 0) = 1 THEN  (b.Total * (1 - (ISNULL(c.Redutor,0) / 100))) ELSE 0 End * (CASE WHEN b.Tipo_NF = 1 then b.Aliquota_ICMS else CASE WHEN c.CST_SPED = '101' and ISNULL(b.pCredSN, 0) > 0 THEN b.pCredSN ELSE c.Entrada_ICMS END END/ 100)),
		VL_BC_ICMS_ST = SUM(CASE WHEN ISNULL(c.ICMSST_EmOutrasDespesas, 0) = 0 AND ISNULL(c.Incide_ICM_Subistituicao, 0) = 1 THEN Isnull(b.Base_IVA,0) ELSE 0 END),
		VL_ICMS_ST = SUM(CASE WHEN ISNULL(c.ICMSST_EmOutrasDespesas, 0) = 0 AND ISNULL(c.Incide_ICM_Subistituicao, 0) = 1 THEN Isnull(b.IVA,0) ELSE 0 End),
		VL_IPI = SUM(CASE WHEN ISNULL(c.IPI_EmOutrasDespesas, 0) = 0 THEN Isnull(b.IPIV,0) ELSE 0 END),
		VL_PIS = SUM(CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN 0 ELSE CASE WHEN CONVERT(INT, M.cst_entrada) BETWEEN 50 AND 67 AND ISNULL(M.Pis_Perc_Entrada , 0) > 0 THEN convert(decimal(18,2),convert(decimal(18,2),b.Total) * (ISNULL(M.Pis_Perc_Entrada , 0) / 100)) ELSE 0 END END),
		VL_COFINS = SUM(CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN 0 ELSE CASE WHEN CONVERT(INT, M.cst_entrada) BETWEEN 50 AND 67 AND ISNULL(M.Cofins_Perc_Entrada , 0) > 0 THEN convert(decimal(18,2),convert(decimal(18,2),b.Total) * (ISNULL(M.Cofins_Perc_Entrada , 0) / 100)) ELSE 0 END END),
		VL_PIS_ST = CONVERT(FLOAT,0),
		VL_COFINS_ST = CONVERT(FLOAT,0)
	FROM
		NF a INNER JOIN NF_Item b ON 
					a.FILIAL = b.FILIAL 
					AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR 
					AND a.Codigo = b.Codigo		
		INNER JOIN Mercadoria M ON b.PLU = m.PLU
		LEFT OUTER JOIN Tributacao c ON c.Codigo_Tributacao = b.Codigo_Tributacao --AND c.Filial = b.Filial

	WHERE
		a.Filial = @Filial
		AND a.Data BETWEEN @DataInicio AND @DataFim
		AND a.Tipo_NF = '2'
	GROUP BY 
		a.id,
		a.Cliente_Fornecedor,
		a.Tipo_NF,
		a.Desconto,
		a.Codigo,
		a.Emissao,
		a.Data,
		a.Base_Calculo,
		a.ICMS_Nota
Union All
	SELECT 
		REG = 'C100',
		IND_OPER = '1',
		IND_EMIT = CASE WHEN a.Tipo_NF = '2' THEN '1'ELSE '0' END ,
		COD_PART = a.Cliente_Fornecedor,
		COD_MOD = '55',
		COD_SIT = '00',
		SER = case when Substring(a.id,23,3) = '' then '001' else Substring(a.id,23,3) end, --,'001',		
		NUM_DOC = a.Codigo,
		CHV_NFE = isnull(dbo.funChave('35',substring(replace(convert(varchar,a.Emissao,2),'.',''),1,4),replace(replace(replace(f.cnpj,'.',''),'/',''),'-',''),'55',replicate('0', 3 - len(rtrim(ltrim(convert(varchar(3), f.serie_nfe))))) + rtrim(ltrim(convert(varchar(3), f.serie_nfe))), rtrim(ltrim(a.codigo)),'1', f.chave_xml),''),
		DT_DOC = a.Emissao,
		DT_E_S = a.Data,
		VL_DOC = SUM(b.Total + ISNULL(b.IPIV,0) + ISNULL(b.IVA,0) + ISNULL(b.Despesas,0)),
		IND_PGTO = '0',
		VL_DESC = a.desconto,
		VL_ABAT_NF = CONVERT(FLOAT,0),
		VL_MERC = SUM(b.TOTAL),
		IND_FRT = '1',
		VL_FRT = SUM(ISNULL(a.Frete,0)),
		VL_SEG = CONVERT(FLOAT,0),
		VL_OUT_DA = SUM(ISNULL(b.Despesas,0)),
		--VL_BC_ICMS = (ISNULL(a.Base_Calculo,0)),
		--VL_ICMS = (ISNULL(a.ICMS_Nota,0)),
		VL_BC_ICMS = SUM(CASE WHEN c.Indice_ST = '00' OR c.Indice_ST = '20' THEN  (b.Total * (1 - (ISNULL(b.Redutor_Base,c.redutor) / 100))) ELSE 0 End),
		VL_ICMS = SUM(CASE WHEN c.Indice_ST = '00' OR c.Indice_ST = '20' THEN  (b.Total * (1 - (ISNULL(b.Redutor_Base,c.Redutor) / 100))) ELSE 0 End * (case when a.Tipo_NF = 1 then c.Saida_ICMS else b.Aliquota_ICMS end / 100)),
		VL_BC_ICMS_ST = SUM(ISNULL(b.Base_IVA,0)),
		VL_ICMS_ST = SUM(ISNULL(b.IVA,0)),
		VL_IPI = SUM(ISNULL(b.IPIV,0)),
		--VL_PIS = SUM(ISNULL(b.PISV,0)),
		--VL_COFINS = SUM(ISNULL(b.CofinsV,0)),
		VL_PIS = SUM(CASE WHEN CONVERT(INT, M.cst_saida) = 1 AND ISNULL(M.Pis_Perc_Saida , 0) > 0 THEN convert(decimal(18,2),convert(decimal(18,2),b.Total) * (ISNULL(M.Pis_Perc_Saida , 0) / 100)) ELSE 0 END),
		VL_COFINS = SUM(CASE WHEN CONVERT(INT, M.cst_saida) = 1 AND ISNULL(M.Pis_Perc_Saida , 0) > 0 THEN convert(decimal(18,2),convert(decimal(18,2),b.Total) * (ISNULL(M.Cofins_Perc_Saida  , 0) / 100)) ELSE 0 END),
		
		--VL_PIS = SUM(CASE WHEN m.incide_pis = 1 THEN convert(decimal(18,2),convert(decimal(18,2),b.Total) * (0.0165)) ELSE 0 END),
		--VL_COFINS = SUM(CASE WHEN m.incide_pis = 1 THEN convert(decimal(18,2),convert(decimal(18,2),b.Total) * (0.076)) ELSE 0 END),
		VL_PIS_ST = CONVERT(FLOAT,0),
		VL_COFINS_ST = CONVERT(FLOAT,0)
	FROM
		NF a INNER JOIN NF_Item b ON 	
					a.FILIAL = b.FILIAL 
					AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR 
					AND a.Codigo = b.Codigo		
		INNER JOIN Mercadoria M ON b.PLU = m.PLU
		INNER JOIN Filial f on a.filial = f.filial
		LEFT OUTER JOIN Tributacao c ON c.Codigo_Tributacao = b.Codigo_Tributacao --AND c.Filial = b.Filial
	WHERE
		a.Filial = @Filial
		--AND a.Cliente_Fornecedor = @Fornecedor
		AND a.Data BETWEEN @DataInicio AND @DataFim
		AND a.Tipo_NF = '1'
		And a.codigo_operacao not in (5929, 6929)
		AND isnull(a.NF_Canc,0) <> 1
	GROUP BY 
		a.Cliente_Fornecedor,
		a.Tipo_NF,
		a.Desconto,
		a.Codigo,
		a.Emissao,
		a.Data,
		a.Base_Calculo,
		a.ICMS_Nota,
		f.cnpj,
		f.chave_xml,
		f.serie_nfe,
		a.id

	ORDER BY 8
	RETURN                          
                      
END






/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C170]    Script Date: 12/08/2014 09:46:32 ******/
SET ANSI_NULLS ON

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C170]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- STORED PROCEDURE
-- sp_EFD_PisCofins_C170 'MATRIZ', '20170101', '20170131', 'FERPEREZ', 1025070
CREATE    Procedure [dbo].[sp_EFD_PisCofins_C170]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8),
	@Fornecedor		As Varchar(20),
	@NroNota		As Varchar(10)
AS                            
BEGIN

	SELECT 
		REG = 'C170',
		NUM_ITEM = b.Num_Item,
		COD_ITEM = b.PLU,
		DESCR_COMPL = m.Descricao,
		QTD = b.Qtde,
		UNID = CASE WHEN m.Peso_Variavel = 'PESO' THEN 'KG' ELSE 'UN' END,
		VL_ITEM = b.Total,
		VL_DESC = CASE WHEN b.Desconto >0 THEN (b.Desconto/100) * b.Total ELSE 0 END,
		IND_MOV = '0',
		CST_ICMS = case when len(t.CST_SPED) >= 3 then  t.CST_SPED else '0' + t.CST_SPED End,
		CFOP = CONVERT(VARCHAR(4),b.Codigo_Operacao),
		COD_NAT = CONVERT(VARCHAR(4),a.Codigo_Operacao),
		VL_BC_ICMS = CASE WHEN ISNULL(t.Incide_ICMS, 0) = 1 THEN  (b.Total * (1 - (ISNULL(t.Redutor,0) / 100))) ELSE 0 End,
		ALIQ_ICMS = CASE WHEN b.Tipo_NF = 1 then t.Saida_ICMS else case when ISNULL(t.Incide_ICMS, 0) =  0 THEN 0 ELSE CASE WHEN t.CST_SPED = '101' and ISNULL(b.pCredSN, 0) > 0 THEN b.pCredSN ELSE t.Entrada_ICMS end end  end,
		VL_ICMS = CASE WHEN ISNULL(t.Incide_ICMS, 0) = 1 THEN  (b.Total * (1 - (ISNULL(t.Redutor, 0) / 100))) ELSE 0 End * (CASE WHEN b.Tipo_NF = 1 then t.Saida_ICMS else CASE WHEN t.CST_SPED = '101' and ISNULL(b.pCredSN, 0) > 0 THEN b.pCredSN ELSE t.Entrada_ICMS END end / 100),
		VL_BC_ICMS_ST = CASE WHEN ISNULL(t.ICMSST_EmOutrasDespesas, 0) = 0 AND ISNULL(t.Incide_ICM_Subistituicao, 0) = 1 THEN Isnull(b.Base_IVA,0) ELSE 0 END,
		ALIQ_ST = CASE WHEN ISNULL(t.ICMSST_EmOutrasDespesas, 0) = 0 AND ISNULL(t.Incide_ICM_Subistituicao, 0) = 1 THEN t.Entrada_ICMS Else 0 End,
		VL_ICMS_ST = CASE WHEN ISNULL(t.ICMSST_EmOutrasDespesas, 0) = 0 AND ISNULL(t.Incide_ICM_Subistituicao, 0) = 1 THEN Isnull(b.IVA,0) ELSE 0 End,
		IND_APUR = 0,
		CST_IPI = CASE WHEN b.Codigo_Operacao >5000 THEN '99' ELSE '49' END,
		COD_ENQ = '',
		VL_BC_IPI = CASE WHEN ISNULL(t.IPI_EmOutrasDespesas, 0) = 0 AND ISNULL(b.IPIV, 0) > 0 THEN b.Total ELSE 0 END,
		ALIQ_IPI = CASE WHEN ISNULL(t.IPI_EmOutrasDespesas, 0) = 0 AND ISNULL(b.IPI, 0) > 0 THEN Isnull(b.IPI,0) ELSE 0 END,
		VL_IPI = CASE WHEN ISNULL(t.IPI_EmOutrasDespesas, 0) = 0 AND (ISNULL(b.IPIV, 0) > 0 OR ISNULL(b.IPI, 0) > 0) THEN Isnull(b.IPIV,0) ELSE 0 END,
		CST_PIS = CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN '98' ELSE CASE WHEN b.tipo_nf = 2 THEN m.Cst_Entrada ELSE m.Cst_Saida END END, 
		VL_BC_PIS = CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN 0 ELSE CASE WHEN (b.Tipo_NF = 2 AND CONVERT(INT, m.CST_Entrada) BETWEEN 50 AND 67) OR (b.Tipo_NF = 1 AND CONVERT(INT, m.CST_Saida) BETWEEN 1 AND 2) THEN b.Total ELSE 0 END END,
		ALIQ_PIS = CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN 0 ELSE CASE 
						WHEN (b.Tipo_NF = 2 AND CONVERT(INT, m.CST_Entrada) BETWEEN 50 AND 67) THEN m.Pis_Perc_Entrada
						WHEN (b.Tipo_NF = 1 AND CONVERT(INT, m.CST_Saida) BETWEEN 1 AND 2) THEN m.Pis_Perc_Saida
						ELSE 0 
					END END,
		QUANT_BC_PIS = '', 
		ALIQ_PIS_QUANT = '',
		VL_PIS = CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN 0 ELSE CASE WHEN (b.Tipo_NF = 2 AND CONVERT(INT, m.CST_Entrada) BETWEEN 50 AND 67) OR (b.Tipo_NF = 1 AND CONVERT(INT, m.CST_Saida) BETWEEN 1 AND 2) 
					 THEN convert(decimal(12,2),b.Total * (CASE 
						WHEN (b.Tipo_NF = 2 AND CONVERT(INT, m.CST_Entrada) BETWEEN 50 AND 67) THEN m.Pis_Perc_Entrada
						WHEN (b.Tipo_NF = 1 AND CONVERT(INT, m.CST_Saida) BETWEEN 1 AND 2) THEN m.Pis_Perc_Saida
						ELSE 0 	END / 100)) ELSE 0 END END,
		CST_COFINS = CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN '98' ELSE CASE WHEN b.tipo_nf = 2 THEN m.Cst_Entrada ELSE m.Cst_Saida END END, 
		VL_BC_COFINS = CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN 0 ELSE CASE WHEN (b.Tipo_NF = 2 AND CONVERT(INT, m.CST_Entrada) BETWEEN 50 AND 67) OR (b.Tipo_NF = 1 AND CONVERT(INT, m.CST_Saida) BETWEEN 1 AND 2) THEN b.Total ELSE 0 END END,
		ALIQ_COFINS = CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN 0 ELSE CASE 
						WHEN (b.Tipo_NF = 2 AND CONVERT(INT, m.CST_Entrada) BETWEEN 50 AND 67) THEN m.COFINS_Perc_Entrada
						WHEN (b.Tipo_NF = 1 AND CONVERT(INT, m.CST_Saida) BETWEEN 1 AND 2) THEN m.COFINS_Perc_Saida
						ELSE 0 
					END END,
		QUANT_BC_COFINS = '', 
		ALIQ_COFINS_QUANT = '',
		VL_COFINS = CASE WHEN b.Tipo_NF = 2 AND (b.CODIGO_OPERACAO BETWEEN 1900 AND 1999 OR b.CODIGO_OPERACAO BETWEEN 2900 AND 2999) THEN 0 ELSE CASE WHEN (b.Tipo_NF = 2 AND CONVERT(INT, m.CST_Entrada) BETWEEN 50 AND 67) OR (b.Tipo_NF = 1 AND CONVERT(INT, m.CST_Saida) BETWEEN 1 AND 2) 
					 THEN convert(decimal(12,2),b.Total * (CASE 
						WHEN (b.Tipo_NF = 2 AND CONVERT(INT, m.CST_Entrada) BETWEEN 50 AND 67) THEN m.COFINS_Perc_Entrada
						WHEN (b.Tipo_NF = 1 AND CONVERT(INT, m.CST_Saida) BETWEEN 1 AND 2) THEN m.COFINS_Perc_Saida
						ELSE 0 
					END / 100)) ELSE 0 END END,
		COD_CTA = ''
	FROM
		NF a 
		INNER JOIN NF_Item b ON a.FILIAL = b.FILIAL AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR AND a.Codigo = b.Codigo		
		INNER JOIN Tributacao t ON t.Codigo_Tributacao = b.Codigo_Tributacao
		INNER JOIN Mercadoria m ON m.PLU = b.PLU
		INNER JOIN Natureza_Operacao NatOp ON NatOp.Codigo_Operacao = a.Codigo_Operacao
	WHERE
		a.Filial = @Filial
		AND a.Data BETWEEN @DataInicio AND @DataFim
		AND LTRIM(RTRIM(LTRIM(a.Cliente_Fornecedor))) = @Fornecedor
		AND Convert(Numeric,a.Codigo) = @NroNota
		AND (b.Tipo_NF=2 or (isnull(NatOp.NF_devolucao,0)=1 AND a.codigo_operacao > 6000 ))
	ORDER BY 1,2

	RETURN                          

END

SELECT * FROM NF

/****** Object:  StoredProcedure [dbo].[sp_EFD_ICMSIPI_C190]    Script Date: 12/08/2014 09:47:25 ******/
SET ANSI_NULLS ON


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C190]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


















-- STORED PROCEDURE
-- sp_EFD_PisCofins_C190 'MATRIZ', 'ATACADÃO'
CREATE   Procedure [dbo].[sp_EFD_PisCofins_C190]   
	@Filial			AS Varchar(20),
	@Fornecedor		As Varchar(20)

AS                            
BEGIN
	SELECT 
		REG = 'C190',
		COD_MOD = '55', 
		DT_REF_INI = MIN(EMISSAO),
		DT_REF_FIN = MAX(EMISSAO),
		COD_ITEM = COD_ITEM,
		COD_NCM = '',
		EX_IPI = '',
		VL_TOT_ITEM = SUM(VL_ITEM)
	FROM 
		EFD_C170
	WHERE 
		CLIENTE_FORNECEDOR = @Fornecedor
	GROUP BY 
		COD_ITEM
END
















GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C191]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















-- STORED PROCEDURE
-- sp_EFD_PisCofins_C191 'MATRIZ', 'ATACADÃO'
CREATE     Procedure [dbo].[sp_EFD_PisCofins_C191]   
	@Filial			AS Varchar(20),
	@Fornecedor		As Varchar(20)

AS                            
BEGIN


	SELECT 
		REG = 'C191',
		CNPJ,
		CST_PIS,
		CFOP,
		VL_ITEM = SUM(VL_ITEM),
		VL_DESC = '',
		VL_BC_PIS = SUM(VL_BC_PIS),
		ALIQ_PIS,
		QUANT_BC_PIS = '',
		ALIQ_PIS_QUANT = '',
		VL_PIS = SUM(VL_PIS),
		COD_CTA = ''
		
	FROM 
		EFD_C170
	WHERE 
		CLIENTE_FORNECEDOR = @Fornecedor
	GROUP BY 
		CNPJ, CST_PIS, CFOP, ALIQ_PIS
END















GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C195]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

















-- STORED PROCEDURE
-- sp_EFD_PisCofins_C195 'MATRIZ', 'ATACADÃO'
CREATE     Procedure [dbo].[sp_EFD_PisCofins_C195]   
	@Filial			AS Varchar(20),
	@Fornecedor		As Varchar(20)

AS                            
BEGIN


	SELECT 
		REG = 'C195',
		CNPJ,
		CST_COFINS,
		CFOP,
		VL_ITEM = SUM(VL_ITEM),
		VL_DESC = '',
		VL_BC_COFINS = SUM(VL_BC_PIS),
		ALIQ_COFINS,
		QUANT_BC_COFINS = '',
		ALIQ_COFINS_QUANT = '',
		VL_COFINS = SUM(VL_COFINS),
		COD_CTA = ''
		
	FROM 
		EFD_C170
	WHERE 
		CLIENTE_FORNECEDOR = @Fornecedor
	GROUP BY 
		CNPJ, CST_COFINS, CFOP, ALIQ_COFINS
END















GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C400]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- STORED PROCEDURE
-- sp_EFD_PisCofins_C400 'MATRIZ', '20120101', '20120131'
CREATE     Procedure [dbo].[sp_EFD_PisCofins_C400]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS                            
BEGIN
	SELECT 
		REG = 'C400',
		COD_MOD = '2D',
		ECF_MOD = a.Modelo,
		ECF_FAB = a.FabEqu,
		ECF_CX = rtrim(ltrim(convert(varchar(2),a.Caixa)))
	FROM
		Controle_Filial_PDV a
	WHERE
		a.Filial = @Filial
		AND EXISTS(SELECT * FROM Fiscal b WHERE
				a.Filial = b.Filial
				AND a.Caixa = b.Caixa
--				AND a.Caixa NOT IN (1)
--				AND a.FabEqu = b.FabEqu
				AND REPLACE(CONVERT(VARCHAR,b.Data,102),'.','') BETWEEN @DataInicio AND @DataFim)
	ORDER BY 1,2
END

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C405]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- STORED PROCEDURE
-- sp_EFD_PisCofins_C405 'MATRIZ', '20120301', '20120331', 'EP040710000000004719'
CREATE    Procedure [dbo].[sp_EFD_PisCofins_C405]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8),
	@FabEqu			As Varchar(20)
AS                            
BEGIN
	SELECT 
		REG = 'C405',
		DT_DOC = a.Data,
		CRO = convert(varchar,isnull(a.Cont_Reinicio_Operacao,'0')),
		CRZ = convert(varchar,isnull(a.ContReducao,'0')),
		NUM_COO_FIN = convert(varchar,a.Cupom),
		GT_FIN = a.GtFinal,
		VL_BRT = (a.GtFinal - a.GtInicial),
		Caixa,
		COOIni = Num_Seq_Primeiro_COO,
		COOFim = Cupom
	FROM
		Fiscal a
	WHERE
		a.Filial = @Filial
		AND a.FabEqu = @FabEqu
		AND REPLACE(CONVERT(VARCHAR,a.Data,102),'.','') BETWEEN @DataInicio AND @DataFim
		and ((a.GtFinal - a.GtInicial) > 0)
	ORDER BY 1,2

END

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C410]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sp_EFD_PisCofins_C410 'MATRIZ',1,'20120502'


CREATE    PROCEDURE [dbo].[sp_EFD_PisCofins_C410]
	@Filial	As Varchar(20),
	@Caixa	As Integer,
	@Data	As Varchar(8),
	@COOINI As Integer,
	@COOFIM As Integer
AS

BEGIN
	SELECT
		REG = 'C410',
		VL_PIS  = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR * 0.0165) ELSE 0 END ),
		VL_COFINS  = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR * 0.076) ELSE 0 END )
	FROM
		Mercadoria a INNER JOIN Saida_Estoque b (index = ix_saida_estoque) ON a.PLU = b.PLU
	WHERE 
		b.Filial = @Filial
		AND REPLACE(CONVERT(VARCHAR,b.Data_Movimento,102),'.','') = @Data
		AND a.PLU = b.PLU
		AND b.Data_Cancelamento IS NULL
		AND b.Caixa_Saida = @Caixa
		AND CONVERT(INT,b.Documento) BETWEEN @COOINI AND @COOFIM
END

GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C420]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_EFD_PisCofins_C420 'MATRIZ',1,'20120116'
CREATE        PROCEDURE [dbo].[sp_EFD_PisCofins_C420]
	@Filial	As Varchar(20),
	@Caixa	As Integer,
	@Data	As Varchar(8),
	@COORDZ	As Integer
	
AS	
	DECLARE @Contador 		As Integer
	DECLARE @strTotalizador 	As Varchar(17)
	Declare @Isento			As Numeric(12,2)
	Declare @Cancelado		As Numeric(12,2)
	Declare @NaoTributado		As Numeric(12,2)
	Declare @Substituicao		As Numeric(12,2)
	Declare @Desconto		As Numeric(12,2)
	Declare @Reg6			As Varchar(200)

BEGIN	

	BEGIN
		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' AND TABLE_NAME='EFD_TOTALIZADOR')
			BEGIN
				DROP TABLE EFD_Totalizador
	
				Create TABLE EFD_Totalizador (Totalizador Varchar(7),  Valor Numeric(12,2))
			END
		ELSE
			Create TABLE EFD_Totalizador (Totalizador Varchar(7), Valor Numeric(12,2))
	END


	BEGIN		
		
		SELECT 
			@Isento = ISNULL(TotIsenta,0),
			@Cancelado = ISNULL(TotCancelado,0),
			@Substituicao = ISNULL(TotSubstituicao,0),
			@Desconto = ISNULL(TotDesconto,0),
			@NaoTributado = ISNULL(TotNaoTrib,0),
			@Reg6 = (Select Top 1 CONVERT(VARCHAR(250),reg6) From Fiscal b 
					Where b.Filial  = Fiscal.Filial
					And b.Data      = Fiscal.Data
					And b.Caixa     = Fiscal.Caixa
					And b.Cupom     = Fiscal.Cupom
					And b.ContReducao Is Null
					And b.ContCancelado Is Null)
		FROM
			FISCAL
		WHERE
			Filial = @Filial
		AND
			Caixa = @Caixa 
		AND 	
			Replace(Convert(Varchar,Data,102),'.','') = @Data
		AND	
			GTInicial > 0
		AND
			Cupom = @COORDZ
	END

	BEGIN
		IF @Isento > 0
			INSERT INTO EFD_Totalizador SELECT 'I1',@ISENTO
		IF @Cancelado > 0 
			INSERT INTO EFD_Totalizador SELECT 'Can-T',@Cancelado
		IF @Substituicao > 0
			INSERT INTO EFD_Totalizador SELECT 'F1',@Substituicao
		IF @Desconto > 0
			INSERT INTO EFD_Totalizador SELECT 'DT',@Desconto
		IF @NaoTributado > 0
			INSERT INTO EFD_Totalizador SELECT 'N1',@NaoTributado
	END

	Set @Contador = 1
	
	WHILE @Contador < 200
	
	BEGIN
	
		SET @strTotalizador = ISNULL(SUBSTRING(@Reg6,@Contador,17),'0')
	
		IF CONVERT(Float,@strTotalizador) > 0 
			BEGIN
				INSERT INTO EFD_Totalizador SELECT 'T' + SUBSTRING(@strTotalizador,2,4), (CONVERT(FLOAT,SUBSTRING(@strTotalizador,5,13)) / 100)
			END
		SET @Contador = @Contador + 17
	END

	BEGIN
		--SELECT Registro = 'C420',*,Nr_Tot = Convert(Integer,1), Desc_Tot = Space(1) FROM EFD_Totalizador
		SELECT * FROM EFD_Totalizador WHERE Valor <> 0
	END

END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C460]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sp_EFD_PisCofins_C460 'MATRIZ',5,'20120316'


CREATE  PROCEDURE [dbo].[sp_EFD_PisCofins_C460]
	@Filial	As Varchar(20),
	@Caixa	As Integer,
	@Data	As Varchar(8),
	@COOINI	As Integer,
	@COOFIM	As Integer
AS

BEGIN
	SELECT
		REG = 'C460',
		COD_MOD = '2D',
		COD_SIT = '00',
		NUM_DOC = b.Documento,
		DT_DOC = b.Data_Movimento,
		VL_DOC = SUM(VLR-Isnull(Desconto,0)+ISNULL(Acrescimo,0)),
		VL_PIS  = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR-ISNULL(Desconto,0)+Isnull(Acrescimo,0) * 0.0165) ELSE 0 END ),
		VL_COFINS  = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR-ISNULL(Desconto,0)+Isnull(Acrescimo,0) * 0.076) ELSE 0 END ),
		CPF_CNPJ = '',
		NOM_ADQ = ''
	FROM
		Mercadoria a INNER JOIN Saida_Estoque b (index = ix_saida_estoque) ON a.PLU = b.PLU
	WHERE 
		b.Filial = @Filial
		--AND REPLACE(CONVERT(VARCHAR,b.Data_Movimento,102),'.','') = @Data
		AND b.Data_Movimento = @Data
		AND a.PLU = b.PLU
		AND b.Data_Cancelamento IS NULL
		AND b.Caixa_Saida = @Caixa
		AND Convert(Int,b.Documento) BETWEEN @COOINI AND @COOFIM
		AND b.Vlr > 0

	GROUP BY
		b.Documento,
		b.Data_Movimento,
		b.Caixa_Saida
END




GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C470]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*

Exec sp_EFD_PisCofins_C460 'MATRIZ',4,'20120116'

Exec sp_EFD_PisCofins_C470 'MATRIZ',1,'20150202','256184',1

*/



CREATE             PROCEDURE [dbo].[sp_EFD_PisCofins_C470]

                @Filial   As Varchar(20),

                @Caixa As Integer,

                @Data  As Varchar(8),

                @Cupom            As Varchar(8),
		@Tipo	As Integer		

AS

 

BEGIN
	IF @Tipo = 1
		BEGIN
	                SELECT
	                               REG = REPLACE('C470'
	
	                               + '|' + rtrim(ltrim(b.PLU))
	
	                               + '|' + CONVERT(VARCHAR,SUM(b.Qtde))
					--** Qtd_Canc
	                               + '|'
					--** Unidade
	                               + '|' + CASE WHEN LEN(RTRIM(LTRIM(ISNULL(a.Und,'')))) < 1 THEN 'UN' ELSE a.Und END
					--** Vlr
	                               + '|' + CONVERT(VARCHAR, SUM(b.VLR)-Sum(Isnull(Desconto,0)+Isnull(Acrescimo,0)))
					--** CST ICMS
	                               + '|0' + RTRIM(LTRIM(CASE WHEN b.NRO_ECF = 4 THEN '60' WHEN b.NRO_ECF = 5 THEN '40' WHEN b.NRO_ECF = 6 THEN '41' ELSE '00' END))
					--** CFOP
	                               + '|' + CASE WHEN b.NRO_ECF = 4 THEN '5403' ELSE '5102' END
					--** Aliuota ICMS	
	                               + '|' + CASE WHEN b.NRO_ECF = 4 THEN '0' ELSE CONVERT(VARCHAR,b.Aliquota_ICMS) END
					--** Vlr PIS
	                               + '|' + CONVERT(VARCHAR, SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR-Isnull(Desconto,0)+Isnull(Acrescimo,0) * 0.0165) ELSE 0 END ))
					--** Vlr Cofins
	                               + '|' + CONVERT(VARCHAR, SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR-Isnull(Desconto,0)+Isnull(Acrescimo,0) * 0.076) ELSE 0 END ))
					,'.',',')
	                FROM
	
	                               Mercadoria a INNER JOIN Saida_Estoque b ON a.PLU = b.PLU
	
	                               INNER JOIN Tributacao t ON t.Codigo_Tributacao = a.Codigo_Tributacao --AND t.Filial = @Filial
	
	                WHERE
	
	                               b.Filial = @Filial
	
	                               AND b.Data_Cancelamento IS NULL
	
	                               --AND REPLACE(CONVERT(VARCHAR,b.Data_Movimento,102),'.','') = @Data
	                               AND b.Data_Movimento = @Data
				
	                               AND b.Caixa_Saida = @Caixa
	
	                               AND b.Documento = @Cupom

								   AND (b.Vlr-Isnull(Desconto,0)+Isnull(Acrescimo,0) >= 0.01)
	
	                GROUP BY
	
	                               b.PLU,
	
	                               a.Und,
	
	                               b.Aliquota_ICMS,
	
	                               t.Indice_ST,
				
				       b.Nro_ECF,
					
	                               a.incide_pis
		END
	ELSE
		BEGIN
	                SELECT
	                               REG = REPLACE('C470'
	
	                               + '|' + b.PLU
	
	                               + '|' + CONVERT(VARCHAR,SUM(b.Qtde))
	
	                               + '|'
	
	                               + '|' + CASE WHEN LEN(RTRIM(LTRIM(ISNULL(a.Und,'')))) < 1 THEN 'UN' ELSE a.Und END
				       
	
	                               + '|' + CONVERT(VARCHAR, SUM(b.VLR-ISNULL(Desconto,0)+Isnull(Acrescimo,0)))
	
	                               + '|0' + RTRIM(LTRIM(CASE WHEN b.NRO_ECF = 4 THEN '60' ELSE CASE WHEN b.NRO_ECF = 5 THEN '40' ELSE '00' END END))
	
	                               + '|' + CASE WHEN b.NRO_ECF = 4 THEN '5403' ELSE '5102' END
	
	                               + '|' + CASE WHEN b.NRO_ECF = 4 THEN '0' ELSE CONVERT(VARCHAR,b.Aliquota_ICMS) END
	
	                               + '|' + CONVERT(VARCHAR, SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0) * 0.0165) ELSE 0 END ))
	
	                               + '|' + CONVERT(VARCHAR, SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0) * 0.076) ELSE 0 END ))
					,'.',',')
	
				       + '|' +  CASE 
						WHEN a.incide_pis = 1 THEN '01'
						WHEN a.incide_pis = 2 THEN '06'
						WHEN a.incide_pis = 3 THEN '04'
						WHEN a.incide_pis = 4 THEN '07'
						WHEN a.incide_pis = 5 THEN '05'
						ELSE '01' END
					
				       +'|' +   CASE
	                                        WHEN a.Incide_PIS = 2 THEN '999'--'06'
	                                        WHEN a.Incide_PIS = 3 THEN '403'--'04'
	                                        WHEN a.Incide_PIS = 4 THEN '999'--'07'
	                                        WHEN a.Incide_PIS = 5 THEN '101'--'05'
	                                        ELSE '101' END
				
				       +'|' +   CONVERT(VARCHAR,SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0) ELSE 0 END))
	
				       +'|' +   convert(varchar,CASE
					        WHEN a.Incide_PIS = 1 THEN 1.65
	                                        ELSE 0 END)
	
		                       +'|'
	 
		                       +'|'
	
	
					+ '|' +  CASE 
						WHEN a.incide_pis = 1 THEN '01'
						WHEN a.incide_pis = 2 THEN '06'
						WHEN a.incide_pis = 3 THEN '04'
						WHEN a.incide_pis = 4 THEN '07'
						WHEN a.incide_pis = 5 THEN '05'
						ELSE '01' END
					
				       +'|' +   CASE
	                                        WHEN a.Incide_PIS = 2 THEN '999'--'06'
	                                        WHEN a.Incide_PIS = 3 THEN '403'--'04'
	                                        WHEN a.Incide_PIS = 4 THEN '999'--'07'
	                                        WHEN a.Incide_PIS = 5 THEN '101'--'05'
	                                        ELSE '101' END
				
				       +'|' +   CONVERT(VARCHAR,SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0) ELSE 0 END))
	
				       +'|' +   convert(varchar,CASE
					        WHEN a.Incide_PIS = 1 THEN 7.60
	                                        ELSE 0 END)
	
		                       +'|'
	 
		                       +'|'
	
				       +'|'
	
	                               +'|'
	
	                               +'1'
	
					
	
	                FROM
	
	                               Mercadoria a INNER JOIN Saida_Estoque b ON a.PLU = b.PLU
	
	                               INNER JOIN Tributacao t ON t.Codigo_Tributacao = a.Codigo_Tributacao --AND t.Filial = @Filial
	
	                WHERE
	
	                               b.Filial = @Filial
	
	                               AND b.Data_Cancelamento IS NULL
	
	                               --AND REPLACE(CONVERT(VARCHAR,b.Data_Movimento,102),'.','') = @Data
	                               AND b.Data_Movimento = @Data
				
	                               AND b.Caixa_Saida = @Caixa
	
	                               AND b.Documento = @Cupom
	
	                GROUP BY
	
	                               b.PLU,
	
	                               a.Und,
	
	                               b.Aliquota_ICMS,
	
	                               t.Indice_ST,
				
				       b.Nro_ECF,
					
	                               a.incide_pis
		END

 

END

 

 



 


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C481]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



--sp_EFD_PisCofins_C481 'MATRIZ','20150219', '20150219', '20150219', 1, 259890, 259890

CREATE      PROC [dbo].[sp_EFD_PisCofins_C481]
	@Filial	AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8),
	@DataMovimento  As Varchar(8),
	@Caixa		As Int,
	@CupomInicial	As BigInt,
	@CupomFinal	As BigInt
AS
	BEGIN
		SELECT
			REG = 'C481',
			CST_PIS = a.CST_Saida,
			VL_ITEM	= SUM(b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0)),
			VL_BC_PIS = SUM(CASE WHEN CONVERT(FLOAT, a.CST_Saida) BETWEEN 1  AND 2 THEN b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0) ELSE 0 END),
			ALIQ_PIS = CASE 
						WHEN CONVERT(FLOAT, a.CST_Saida) BETWEEN 1  AND 2 THEN a.Pis_Perc_Saida ELSE 0 End,
			QUANT_BC_PIS = '',
			ALIQ_PIS_QUANT = '',
			VL_PIS  = SUM(CASE WHEN CONVERT(FLOAT, a.CST_Saida) BETWEEN 1  AND 2 THEN CONVERT(NUMERIC(12,2),(b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0)) * (a.Pis_Perc_Saida / 100)) ELSE 0 END ),
			COD_ITEM = a.PLU,
			COD_CTA = '',
			NATUREZA_RECEITA = Case When (a.cst_saida = '04' And  Isnull(a.Codigo_Natureza_Receita,'') = '999') Then '202' Else ISNULL(a.Codigo_Natureza_Receita, '') End
		FROM
			Mercadoria a INNER JOIN Saida_Estoque b ON a.PLU = b.PLU
		WHERE 
			b.Filial = @Filial
			AND a.PLU = b.PLU
			AND (REPLACE(CONVERT(VARCHAR,b.Data_Movimento,102),'.','') BETWEEN @DATAINICIO AND @DATAFIM)
			AND b.Data_Cancelamento IS NULL
			AND REPLACE(CONVERT(VARCHAR,b.Data_Movimento,102),'.','') = @DataMovimento
			AND b.Caixa_Saida = @Caixa
			AND b.Vlr > 0
			AND CONVERT(BigInt,b.Documento) BETWEEN @CupomInicial AND @CupomFinal

		GROUP BY
			a.PLU, a.CST_Saida, a.Pis_Perc_Saida, ISNULL(a.Codigo_Natureza_Receita, '')
		RETURN
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C485]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--sp_EFD_PisCofins_C485 'MATRIZ','20140701', '20140702', '20140701', 01, 1, 999999 

CREATE      PROC [dbo].[sp_EFD_PisCofins_C485]
	@Filial	AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8),
	@DataMovimento  As Varchar(8),
	@Caixa		As Int,
	@CupomInicial	As BigInt,
	@CupomFinal	As BigInt
AS
	BEGIN
		SELECT
			REG = 'C485',
			CST_Cofins = a.CST_Saida,
			VL_ITEM	= SUM(b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0)),
			VL_BC_Cofins = SUM(CASE WHEN CONVERT(FLOAT, a.CST_Saida) BETWEEN 1  AND 2 THEN b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0)  ELSE 0 END),
			ALIQ_Cofins = CASE 
						WHEN CONVERT(FLOAT, a.CST_Saida) BETWEEN 1  AND 2 THEN a.Cofins_Perc_Saida ELSE 0 End,
			QUANT_BC_Cofins = '',
			ALIQ_Cofins_QUANT = '',
			VL_Cofins  = SUM(CASE WHEN CONVERT(FLOAT, a.CST_Saida) BETWEEN 1  AND 2 THEN CONVERT(NUMERIC(12,2),(b.VLR-ISNULL(Desconto,0)+ISNULL(Acrescimo,0)) * (a.Cofins_Perc_Saida / 100)) ELSE 0 END ),
			COD_ITEM = a.PLU,
			COD_CTA = ''
		FROM
			Mercadoria a INNER JOIN Saida_Estoque b ON a.PLU = b.PLU
		WHERE 
			b.Filial = @Filial
			AND a.PLU = b.PLU
			AND (REPLACE(CONVERT(VARCHAR,b.Data_Movimento,102),'.','') BETWEEN @DATAINICIO AND @DATAFIM)
			AND b.Data_Cancelamento IS NULL
			AND REPLACE(CONVERT(VARCHAR,b.Data_Movimento,102),'.','') = @DataMovimento
			AND b.Caixa_Saida = @Caixa
			AND b.Vlr > 0
			AND CONVERT(BigInt,b.Documento) BETWEEN @CupomInicial AND @CupomFinal

		GROUP BY
			a.PLU, a.CST_Saida, a.Cofins_Perc_Saida

		RETURN
	END



GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C490]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_EFD_PisCofins_C490 'MATRIZ','01042011', '01042011'

CREATE Proc [dbo].[sp_EFD_PisCofins_C490]
	@Filial	AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8)
AS
	SELECT
		REG = 'C490',
		DT_DOC_INI = @DATAINICIO,
		DT_DOC_FIM = @DATAFIM,
		COD_MOD = '2D'


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C491]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_EFD_PisCofins_C491 'MATRIZ','20120301', '20120331'

CREATE PROC [dbo].[sp_EFD_PisCofins_C491]
	@Filial	AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8)
AS
	SELECT
		REG = 'C491',
		COD_ITEM = a.PLU,
		CST_PIS = '0' + CONVERT(VARCHAR(1),CASE 
					WHEN a.Incide_PIS = 1 THEN 1
					WHEN a.Incide_PIS = 2 THEN 6
					WHEN a.Incide_PIS = 3 THEN 4
					WHEN a.Incide_PIS = 4 THEN 7
					WHEN a.Incide_PIS = 5 THEN 5
				   ELSE 1 END),
		CFOP = CASE WHEN t.Indice_ST IN ('10', '60') THEN '5405'
					ELSE '5102' END,
		VL_ITEM	= SUM(b.VLR),
		VL_BC_PIS = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN b.VLR ELSE 0 END),
		ALIQ_PIS = CASE 
					WHEN a.Incide_PIS = 1 THEN 1.65
					ELSE 0 END,
		QUANT_BC_PIS = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN b.VLR ELSE 0 END),
		ALIQ_PIS_QUANT = CASE 
							WHEN a.Incide_PIS = 1 THEN 1.65
							ELSE 0 END,
		VL_PIS  = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR * 0.0165) ELSE 0 END ),
		COD_CTA = ''
	FROM
		Mercadoria a 
		INNER JOIN Saida_Estoque b ON a.PLU = b.PLU
		INNER JOIN Tributacao t ON t.Codigo_Tributacao = a.Codigo_Tributacao
	WHERE
		b.Filial = @Filial
		AND a.PLU = b.PLU
		AND b.Data_Movimento BETWEEN @DATAINICIO AND @DATAFIM
		AND b.Data_Cancelamento IS NULL

	GROUP BY
		a.PLU, a.Incide_PIS, t.Indice_ST


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_C495]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--sp_EFD_PisCofins_C495 'MATRIZ','20120301', '20120331'

CREATE PROC [dbo].[sp_EFD_PisCofins_C495]
	@Filial	AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8)
AS
	SELECT
		REG = 'C495',
		COD_ITEM = a.PLU,
		CST_COFINS = '0' + RTRIM(LTRIM(CONVERT(VARCHAR(1), CASE 
					WHEN a.Incide_PIS = 1 THEN 1
					WHEN a.Incide_PIS = 2 THEN 6
					WHEN a.Incide_PIS = 3 THEN 4
					WHEN a.Incide_PIS = 4 THEN 7
					WHEN a.Incide_PIS = 5 THEN 5
				   ELSE 1 END))),
		CFOP = CASE WHEN t.Indice_ST IN ('10', '60') THEN '5405'
					ELSE '5102' END,
		VL_ITEM	= SUM(b.VLR),
		VL_BC_COFINS = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN b.VLR-ISNULL(Desconto,0)+Isnull(Acrescimo,0) ELSE 0 END),
		ALIQ_COFINS = CASE 
					WHEN a.Incide_PIS = 1 THEN 7.60
					ELSE 0 END,
		QUANT_BC_COFINS = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN b.VLR-ISNULL(Desconto,0)+Isnull(Acrescimo,0) ELSE 0 END),
		ALIQ_COFINS_QUANT = CASE 
							WHEN a.Incide_PIS = 1 THEN 7.60
							ELSE 0 END,
		VL_COFINS  = SUM(CASE WHEN ISNULL(a.Incide_PIS,1) = 1 OR a.Incide_PIS = 0 THEN CONVERT(NUMERIC(12,2),b.VLR-ISNULL(Desconto,0)+Isnull(Acrescimo,0) * 0.076) ELSE 0 END ),
		COD_CTA = ''
	FROM
		Mercadoria a 
		INNER JOIN Saida_Estoque b ON a.PLU = b.PLU
		INNER JOIN Tributacao t ON t.Codigo_Tributacao = a.Codigo_Tributacao
	WHERE
		b.Filial = @Filial
		AND a.PLU = b.PLU
		AND b.Data_Movimento BETWEEN @DATAINICIO AND @DATAFIM
		AND b.Data_Cancelamento IS NULL

	GROUP BY
		a.PLU, a.Incide_PIS, t.Indice_ST




GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_Dev_C481]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




--sp_EFD_PisCofins_C481 'MATRIZ','20110701', '20110731', '20110701', 12, 22222, 22223 

CREATE      PROC [dbo].[sp_EFD_PisCofins_Dev_C481]
	@Filial	AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8)
AS
	BEGIN
		SELECT
				REG = 'C481',
				CST_PIS = m.CST_Saida,
				VL_ITEM	= SUM(b.Total),
				VL_BC_PIS = SUM(CASE WHEN CONVERT(FLOAT, m.CST_Saida) BETWEEN 1  AND 2 THEN b.Total ELSE 0 END),
				ALIQ_PIS = CASE 
							WHEN CONVERT(FLOAT, m.CST_Saida) BETWEEN 1  AND 2 THEN m.Pis_Perc_Saida ELSE 0 End,
				QUANT_BC_PIS = '',
				ALIQ_PIS_QUANT = '',
				VL_PIS  = SUM(CASE WHEN CONVERT(FLOAT, m.CST_Saida) BETWEEN 1  AND 2 THEN CONVERT(NUMERIC(12,2),b.Total * (m.Pis_Perc_Saida / 100)) ELSE 0 END ),
				COD_ITEM = b.PLU,
				COD_CTA = '',
				NATUREZA_RECEITA = ISNULL(Codigo_Natureza_Receita, '') 
			FROM
				NF a
					INNER JOIN NF_Item b ON a.FILIAL = b.FILIAL AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR AND a.Codigo = b.Codigo And a.Tipo_NF = b.Tipo_NF	
					INNER JOIN Tributacao t ON t.Codigo_Tributacao = b.Codigo_Tributacao
					INNER JOIN Mercadoria m ON m.PLU = b.PLU
		WHERE
			a.Filial = @Filial
			AND a.Tipo_NF = '1'
			AND a.nf_canc is null
			AND (REPLACE(CONVERT(VARCHAR,a.Data,102),'.','') BETWEEN @DATAINICIO AND @DATAFIM)
			And a.codigo_operacao not in (5929, 6929)
		GROUP BY
				b.PLU, m.CST_Saida, m.Pis_Perc_Saida, ISNULL(m.Codigo_Natureza_Receita, '')
		RETURN
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M001]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE

CREATE  Procedure [dbo].[sp_EFD_PisCofins_M001]   
AS                            
BEGIN

	SELECT 
	--** Campo [REG] Texto fixo contendo "0001" C 004 - O
	'|M001' + 
	--** Campo [IND_MOV] Indicador de movimento: N 001 - O
		--** 0 - Bloco com dados informados;
		--** 1 - Bloco sem dados informados.
	'|0|'

		RETURN                          
                      
END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M100]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE
-- sp_EFD_PisCofins_M100 'MATRIZ', '20100701', '20110731'
CREATE      Procedure [dbo].[sp_EFD_PisCofins_M100]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS   
                         
BEGIN
	BEGIN
		DROP TABLE EFD_C170

		SELECT 
			a.CLIENTE_FORNECEDOR,
			a.CODIGO,
			a.EMISSAO,
			CNPJ = SUBSTRING(REPLACE(REPLACE(REPLACE(RTRIM(ISNULL(f.cnpj,'')), '.', ''), '/', ''), '-', ''), 1, 14),
			REG = 'C170',
			NUM_ITEM = b.Num_Item,
			COD_ITEM = b.PLU,
			DESCR_COMPL = m.Descricao,
			QTD = b.Qtde,
			UNID = CASE WHEN m.Peso_Variavel = 'PESO' THEN 'KG' ELSE 'UN' END,
			VL_ITEM = b.Total,
			VL_DESC = CASE WHEN b.Desconto >0 THEN (b.Desconto/100) * b.Total ELSE 0 END,
			IND_MOV = '0',
			CST_ICMS = '0' + t.Indice_ST,
			CFOP = CONVERT(VARCHAR(4),b.Codigo_Operacao),
			VL_BC_ICMS = CASE WHEN t.Indice_ST = '00' OR t.Indice_ST = '20' THEN  (b.Total * (1 - (b.Redutor_Base / 100))) ELSE 0 End,
			ALIQ_ICMS = b.Aliquota_ICMS,
			VL_ICMS = CASE WHEN t.Indice_ST = '00' OR t.Indice_ST = '20' THEN  (b.Total * (1 - (b.Redutor_Base / 100))) ELSE 0 End * (b.Aliquota_ICMS / 100),
			VL_BC_ICMS_ST = b.Base_IVA,
			ALIQ_ST = CASE WHEN ISNULL(b.Base_IVA,0) > 0 Then b.Aliquota_ICMS Else 0 End,
			VL_ICMS_ST = ISNULL(b.IVA,0),
			CST_IPI = '49',
			VL_BC_IPI = b.Total,
			ALIQ_IPI = b.IPI,
			VL_IPI = b.IPIV,
			CST_PIS = CASE 
						WHEN m.incide_pis = 1 THEN '50'
						WHEN m.incide_pis = 2 THEN '73'
						WHEN m.incide_pis = 3 THEN '73'
						WHEN m.incide_pis = 4 THEN '71'
						WHEN m.incide_pis = 5 THEN '75'
						ELSE '50' END,
						
			VL_BC_PIS = CASE WHEN m.incide_pis = 1 THEN b.Total ELSE 0 END,
			ALIQ_PIS = CASE WHEN m.incide_pis = 1 THEN 1.65 ELSE 0 END,
			QUANT_BC_PIS = CASE WHEN m.incide_pis = 1 THEN b.Qtde ELSE 0 END,
			ALIQ_PIS_QUANT = CASE WHEN m.incide_pis = 1 THEN 1.65 ELSE 0 END,
			VL_PIS = CASE WHEN m.incide_pis = 1 THEN b.Total * (0.0165) ELSE 0 END,
			CST_COFINS = CASE 
						WHEN m.incide_pis = 1 THEN '50'
						WHEN m.incide_pis = 2 THEN '73'
						WHEN m.incide_pis = 3 THEN '73'
						WHEN m.incide_pis = 4 THEN '71'
						WHEN m.incide_pis = 5 THEN '75'
						ELSE '50' END,
			VL_BC_COFINS = CASE WHEN m.incide_pis = 1 THEN b.Total ELSE 0 END,
			ALIQ_COFINS = CASE WHEN m.incide_pis = 1 THEN 7.6 ELSE 0 END,
			QUANT_BC_COFINS = CASE WHEN m.incide_pis = 1 THEN B.Qtde ELSE 0 END,
			ALIQ_COFINS_QUANT = CASE WHEN m.incide_pis = 1 THEN 7.6 ELSE 0 END,
			VL_COFINS = CASE WHEN m.incide_pis = 1 THEN b.Total * (0.076) ELSE 0 END
	
			INTO EFD_C170
		FROM
			NF a 
			INNER JOIN NF_Item b ON a.FILIAL = b.FILIAL AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR AND a.Codigo = b.Codigo		
			INNER JOIN Tributacao t ON t.Codigo_Tributacao = b.Codigo_Tributacao
			INNER JOIN Mercadoria m ON m.PLU = b.PLU
			INNER JOIN Fornecedor f ON a.Cliente_Fornecedor = f.Fornecedor

	
		WHERE
			a.Filial = 'MATRIZ'
			AND REPLACE(CONVERT(VARCHAR,a.Data,102),'.','') BETWEEN '20110701' AND '20110731'
		ORDER BY 1,2
	END
END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M100_b]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE
-- sp_EFD_PisCofins_C170 'MATRIZ', '20100601', '20110731'
CREATE      Procedure [dbo].[sp_EFD_PisCofins_M100_b]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS   
                         
BEGIN
	SELECT
		REG = 'M100', 
		COD_CRED = '101',
		IND_CRED_ORI = '0',
		VL_BC_PIS = SUM(VL_BC_PIS),
		ALIQ_PIS = 1.65,
		QUANT_BC_PIS = '0',
		ALIQ_PIS_QUANT = '',
		VL_CRED = SUM(VL_PIS),
		VL_AJUS_ACRES = '0',
		VL_AJUS_REDUC = '0',
		VL_CRED_DIF = '0',
		VL_CRED_DISP = SUM(VL_PIS),
		IND_DESC_CRED = '0',
		VL_CRED_DESC = SUM(VL_PIS),
		SLD_CRED = '0'
	FROM 
		EFD_C170
	WHERE 
		CST_PIS IN('50')

END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M105]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE
-- sp_EFD_PisCofins_M100 'MATRIZ', '20100601', '20110731'
CREATE    Procedure [dbo].[sp_EFD_PisCofins_M105]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS   
                         
BEGIN
	DROP TABLE EFD_M105

	SELECT 
		a.Cliente_Fornecedor,
		REG = 'C170',
		NUM_ITEM = b.Num_Item,
		COD_ITEM = b.PLU,
		DESCR_COMPL = m.Descricao,
		QTD = b.Qtde,
		UNID = CASE WHEN m.Peso_Variavel = 'PESO' THEN 'KG' ELSE 'UN' END,
		VL_ITEM = b.Total,
		VL_DESC = CASE WHEN b.Desconto >0 THEN (b.Desconto/100) * b.Total ELSE 0 END,
		IND_MOV = '0',
		CST_ICMS = '0' + t.Indice_ST,
		CFOP = CONVERT(VARCHAR(4),b.Codigo_Operacao),
		VL_BC_ICMS = CASE WHEN t.Indice_ST = '00' OR t.Indice_ST = '20' THEN  (b.Total * (1 - (b.Redutor_Base / 100))) ELSE 0 End,
		ALIQ_ICMS = b.Aliquota_ICMS,
		VL_ICMS = CASE WHEN t.Indice_ST = '00' OR t.Indice_ST = '20' THEN  (b.Total * (1 - (b.Redutor_Base / 100))) ELSE 0 End * (b.Aliquota_ICMS / 100),
		VL_BC_ICMS_ST = b.Base_IVA,
		ALIQ_ST = CASE WHEN ISNULL(b.Base_IVA,0) > 0 Then b.Aliquota_ICMS Else 0 End,
		VL_ICMS_ST = ISNULL(b.IVA,0),
		CST_IPI = '49',
		VL_BC_IPI = b.Total,
		ALIQ_IPI = b.IPI,
		VL_IPI = b.IPIV,
		CST_PIS = CASE 
					WHEN m.incide_pis = 1 THEN '50'
					WHEN m.incide_pis = 2 THEN '73'
					WHEN m.incide_pis = 3 THEN '73'
					WHEN m.incide_pis = 4 THEN '71'
					WHEN m.incide_pis = 5 THEN '75'
					ELSE '50' END,
					
		VL_BC_PIS = CASE WHEN m.incide_pis = 1 THEN b.Total ELSE 0 END,
		ALIQ_PIS = CASE WHEN m.incide_pis = 1 THEN 1.65 ELSE 0 END,
		QUANT_BC_PIS = CASE WHEN m.incide_pis = 1 THEN b.Qtde ELSE 0 END,
		ALIQ_PIS_QUANT = CASE WHEN m.incide_pis = 1 THEN 1.65 ELSE 0 END,
		VL_PIS = CASE WHEN m.incide_pis = 1 THEN b.Total * (0.0165) ELSE 0 END,
		CST_COFINS = CASE 
					WHEN m.incide_pis = 1 THEN '50'
					WHEN m.incide_pis = 2 THEN '73'
					WHEN m.incide_pis = 3 THEN '73'
					WHEN m.incide_pis = 4 THEN '71'
					WHEN m.incide_pis = 5 THEN '75'
					ELSE '50' END,
		VL_BC_COFINS = CASE WHEN m.incide_pis = 1 THEN b.Total ELSE 0 END,
		ALIQ_COFINS = CASE WHEN m.incide_pis = 1 THEN 7.6 ELSE 0 END,
		QUANT_BC_COFINS = CASE WHEN m.incide_pis = 1 THEN B.Qtde ELSE 0 END,
		ALIQ_COFINS_QUANT = CASE WHEN m.incide_pis = 1 THEN 7.6 ELSE 0 END,
		VL_COFINS = CASE WHEN m.incide_pis = 1 THEN b.Total * (0.076) ELSE 0 END

		INTO EFD_M105
	FROM
		NF a 
		INNER JOIN NF_Item b ON a.FILIAL = b.FILIAL AND a.CLIENTE_FORNECEDOR = b.CLIENTE_FORNECEDOR AND a.Codigo = b.Codigo		
		INNER JOIN Tributacao t ON t.Codigo_Tributacao = b.Codigo_Tributacao
		INNER JOIN Mercadoria m ON m.PLU = b.PLU

	WHERE
		a.Filial = 'MATRIZ'
		AND REPLACE(CONVERT(VARCHAR,a.Data,102),'.','') BETWEEN '20110701' AND '20110731'
	ORDER BY 1,2

END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M105_b]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- STORED PROCEDURE
-- sp_EFD_PisCofins_M100 'MATRIZ', '20100601', '20110731'
CREATE    Procedure [dbo].[sp_EFD_PisCofins_M105_b]   
	@Filial			AS Varchar(20),
	@DataInicio		As Varchar(8),
	@DataFim		As Varchar(8)
AS   
                         
BEGIN

	SELECT
		REG = 'M105', 
		NAT_BC_CRED = '01',
		CST_PIS = CST_PIS,
		VL_BC_PIS_TOT = SUM(VL_BC_PIS),
		VL_BC_PIS_CUM = '0',
		VL_BC_PIS_NC = SUM(VL_BC_PIS),
		VL_BC_PIS = SUM(VL_BC_PIS),
		QUANT_BC_PIS_TOT = '',
		QUANT_BC_PIS = '0',
		DESC_CRED = ''
	FROM 
		EFD_M105
	WHERE 
			CST_PIS IN('50')
	GROUP BY 
		CST_PIS

END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M400]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

-- sp_efd_piscofins_m400 'FUTURO', '20140701', '20140731'

CREATE     PROC [dbo].[sp_EFD_PisCofins_M400]
	@Filial		AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8)
	
As
	BEGIN
	BEGIN
		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' AND TABLE_NAME='EFD_M400')
			BEGIN
				DROP TABLE EFD_M400
	
				Create TABLE EFD_M400 (REG Varchar(4), CST Varchar(2), VL_TOT_REC Numeric(14,2))
			END
		ELSE
			Create TABLE EFD_M400 (REG Varchar(4), CST Varchar(2), VL_TOT_REC Numeric(14,2))
	END

Insert Into EFD_M400
		select 
			REG = 'M400',
			CST = a.CST_Saida,
			VL_TOT_REC=sum(isnull(CONVERT(NUMERIC(14,2),b.vlr-ISNULL(Desconto,0)+Isnull(Acrescimo,0)),0))
		FROM Mercadoria a, 
		Saida_estoque b (INDEX=IX_SAIDA_ESTOQUE)  --and a.filial = b.filial
		WHERE 
			b.filial = @filial and
			b.Data_Movimento Between @DataInicio and @DataFim And
			a.plu = b.plu and
			a.CST_Saida NOT IN ('01', '02') and
			b.data_cancelamento is null and
			exists(Select * from Controle_Filial_PDV 
						WHERE b.Caixa_Saida = Controle_Filial_PDV.Caixa And b.Filial = Controle_Filial_PDV.Filial) and
			exists(Select * from Fiscal 
						WHERE b.Caixa_Saida = Fiscal.Caixa 
						And b.Documento between fiscal.Num_seq_Primeiro_coo and cupom
						AND Convert(varchar,b.Data_Movimento,102) = Convert(Varchar,Fiscal.Data,102))
			--Replace(convert(varchar,b.data_movimento,102),'.','') between @DataInicio and @DataFim
		group by 
			a.CST_Saida
			
UNION ALL -------------------------------------------------- Unindo As Tableas ----------------------------------------------------		
		select 
			REG = 'M400',
			CST = a.CST_Saida,
			VL_TOT_REC=sum(isnull(CONVERT(NUMERIC(14,2), b.total),0))
		FROM 
			NF n 
			INNER JOIN NF_Item b on n.filial = b.filial and n.cliente_fornecedor = b.cliente_fornecedor and n.codigo = b.codigo
			INNER JOIN Mercadoria a on a.plu = b.plu
		WHERE 
			n.filial = @filial
			AND n.data BetWeen @DataInicio and @DataFim
			AND n.codigo_operacao not in (5929, 6929) AND
			a.CST_Saida NOT IN ('01', '02') and
			b.Tipo_Nf = 1 and
			isnull(n.nf_canc,0) <> 1
		group by 
			a.CST_Saida

Select REG, CST, sum(VL_TOT_REC) AS VL_TOT_REC, COD_CTA = '', DESC_COMPL =''
	From EFD_M400
Group by 
	REG, CST

		RETURN
	END



GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M410]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_EFD_PisCofins_M410 'MATRIZ','20120301', '20120331', '04'

CREATE      PROC [dbo].[sp_EFD_PisCofins_M410]
	@Filial		AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8),
	@CST		As Varchar(2)
	
As
	BEGIN
	BEGIN
		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' AND TABLE_NAME='EFD_M410')
			BEGIN
				DROP TABLE EFD_M410
	
				Create TABLE EFD_M410 (REG Varchar(4), NAT_REC Varchar(3), VL_TOT_REC Numeric(14,2))
			END
		ELSE
			Create TABLE EFD_M410 (REG Varchar(4), NAT_REC Varchar(3), VL_TOT_REC Numeric(14,2))
	END

Insert Into EFD_M410

		select 
			REG = 'M410',
			NAT_REC = CASE 
					WHEN a.Incide_PIS = 2 THEN '999'--'06'
					WHEN a.Incide_PIS = 3 THEN '403'--'04'
					WHEN a.Incide_PIS = 4 THEN '999'--'07'
					WHEN a.Incide_PIS = 5 THEN '101'--'05'
				   	ELSE '101' END,
			VL_TOT_REC=sum(isnull(b.Vlr,0))
		FROM Mercadoria a
		inner join Saida_estoque b on a.plu = b.plu and a.filial = b.filial
		WHERE 
			a.filial = @filial
			And b.data_cancelamento is null
			and exists(select * from Controle_Filial_PDV WHERE b.Caixa_Saida = Controle_Filial_PDV.Caixa) 
			and exists(Select * from Fiscal 
						WHERE b.Caixa_Saida = Fiscal.Caixa 
						And b.Documento between fiscal.Num_seq_Primeiro_coo and cupom
						AND Convert(varchar,b.Data_Movimento,102) = Convert(Varchar,Fiscal.Data,102))
			And b.data_movimento between @DataInicio and @DataFim
			And a.Incide_pis = Case
						When @CST = '06' then 2
						When @CST = '04' then 3
						When @CST = '07' then 4
						When @CST = '05' then 5
						Else 5 End
		group by 
			a.Incide_Pis
		
Union All -------------------------------------------------- Unindo As Tableas ----------------------------------------------------		

		Select 
			REG = 'M410',
			NAT_REC = CASE 
					WHEN a.Incide_PIS = 2 THEN '999'--'06'
					WHEN a.Incide_PIS = 3 THEN '403'--'04'
					WHEN a.Incide_PIS = 4 THEN '999'--'07'
					WHEN a.Incide_PIS = 5 THEN '101'--'05'
				   	ELSE '101' END,
			VL_TOT_REC=sum(isnull(b.total,0))
		FROM Mercadoria a
		inner join nf_item b on a.plu = b.plu and a.filial = b.filial
		WHERE 
			a.filial = @filial and
			a.Incide_Pis = Case
						When @CST = '06' then 2
						When @CST = '04' then 3
						When @CST = '07' then 4
						When @CST = '05' then 5
						Else 5 End And
			b.Tipo_Nf = 1 and
			exists(Select * from nf where data Between @DataInicio and @DataFim and
					nf.codigo_operacao not in (5929, 6929) and
					isnull(nf.nf_canc,0) <> 1 and
					nf.cliente_fornecedor = b.cliente_fornecedor and
					nf.codigo = b.codigo and nf.filial = b.filial)
		group by 
			a.Incide_Pis
		
		RETURN
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M800]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_EFD_PisCofins_M800 'FUTURO','20140201', '20140228'

CREATE      PROC [dbo].[sp_EFD_PisCofins_M800]
	@Filial		AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8)
	
As
	BEGIN
	BEGIN
		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' AND TABLE_NAME='EFD_M800')
			BEGIN
				DROP TABLE EFD_M800
	
				Create TABLE EFD_M800 (REG Varchar(4), CST Varchar(2), VL_TOT_REC Numeric(14,2))
			END
		ELSE
			Create TABLE EFD_M800 (REG Varchar(4), CST Varchar(2), VL_TOT_REC Numeric(14,2))
	END

Insert Into EFD_M800
		select 
			REG = 'M800',
			CST = CASE 
				WHEN a.Incide_PIS = 1 THEN '01'
				WHEN a.Incide_PIS = 2 THEN '06'
				WHEN a.Incide_PIS = 3 THEN '04'
				WHEN a.Incide_PIS = 4 THEN '07'
				WHEN a.Incide_PIS = 5 THEN '05'
			   	ELSE '01' END,
			VL_TOT_REC=sum(isnull(b.Vlr,0)-ISNULL(Desconto,0)+Isnull(Acrescimo,0))
		FROM Mercadoria a
		inner join Saida_estoque b on a.plu = b.plu --and a.filial = b.filial
		WHERE 
			b.filial = @filial and
			a.Incide_Pis >1 and
			b.data_cancelamento is null and
			exists(Select * from Controle_Filial_PDV 
						WHERE b.Caixa_Saida = Controle_Filial_PDV.Caixa) and
			b.Data_Movimento Between @DataInicio and @DataFim And
			exists(Select * from Fiscal 
						WHERE b.Caixa_Saida = Fiscal.Caixa 
						And b.Documento between fiscal.Num_seq_Primeiro_coo and cupom
						AND Convert(varchar,b.Data_Movimento,102) = Convert(Varchar,Fiscal.Data,102))
			--Replace(convert(varchar,b.data_movimento,102),'.','') between @DataInicio and @DataFim
		group by 
			a.Incide_Pis
UNION ALL -------------------------------------------------- Unindo As Tableas ----------------------------------------------------		
		select 
			REG = 'M800',
			CST = CASE 
				WHEN a.Incide_PIS = 1 THEN '01'
				WHEN a.Incide_PIS = 2 THEN '06'
				WHEN a.Incide_PIS = 3 THEN '04'
				WHEN a.Incide_PIS = 4 THEN '07'
				WHEN a.Incide_PIS = 5 THEN '05'
			   	ELSE '01' END,
			VL_TOT_REC=sum(isnull(b.total,0))
		FROM Mercadoria a
		inner join nf_item b on a.plu = b.plu --and a.filial = b.filial
		WHERE 
			b.filial = @filial and
			a.Incide_Pis >1 and
			b.Tipo_Nf = 1 and
			exists(Select * from nf where data Between @DataInicio and @DataFim and
					nf.codigo_operacao not in (5929, 6929) and
					isnull(nf.nf_canc,0) <> 1 and
					nf.cliente_fornecedor = b.cliente_fornecedor and
					nf.codigo = b.codigo and nf.filial = b.filial)
		group by 
			a.Incide_Pis
		
--SELECT * FROM EFD_M800
	
		RETURN
	END

















GO
/****** Object:  StoredProcedure [dbo].[sp_EFD_PisCofins_M810]    Script Date: 02/03/2017 10:00:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--sp_EFD_PisCofins_M810 'MATRIZ','20110701', '20110731', '06'

CREATE      PROC [dbo].[sp_EFD_PisCofins_M810]
	@Filial		AS Varchar(20),
	@DataInicio	As Varchar(8),
	@DataFim	As Varchar(8),
	@CST		As Varchar(2)
	
As
	BEGIN
	BEGIN
		IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_TYPE='BASE TABLE' AND TABLE_NAME='EFD_M810')
			BEGIN
				DROP TABLE EFD_M810
	
				Create TABLE EFD_M810 (REG Varchar(4), NAT_REC Varchar(3), VL_TOT_REC Numeric(14,2))
			END
		ELSE
			Create TABLE EFD_M810 (REG Varchar(4), NAT_REC Varchar(3), VL_TOT_REC Numeric(14,2))
	END

Insert Into EFD_M810
		select 
			REG = 'M810',
			NAT_REC = CASE 
					WHEN a.Incide_PIS = 2 THEN '999'--'06'
					WHEN a.Incide_PIS = 3 THEN '403'--'04'
					WHEN a.Incide_PIS = 4 THEN '999'--'07'
					WHEN a.Incide_PIS = 5 THEN '101'--'05'
				   	ELSE '101' END,
			VL_TOT_REC=sum(isnull(b.Vlr,0))
		FROM Mercadoria a
		inner join Saida_estoque b on a.plu = b.plu and a.filial = b.filial
		WHERE 
			a.filial = @filial
			And b.data_cancelamento is null
			and exists(select * from Controle_Filial_PDV WHERE b.Caixa_Saida = Controle_Filial_PDV.Caixa) 
			and exists(Select * from Fiscal 
						WHERE b.Caixa_Saida = Fiscal.Caixa 
						And b.Documento between fiscal.Num_seq_Primeiro_coo and cupom
						AND Convert(varchar,b.Data_Movimento,102) = Convert(Varchar,Fiscal.Data,102))
			And b.data_movimento between @DataInicio and @DataFim
			And a.Incide_pis = Case
						When @CST = '06' then 2
						When @CST = '04' then 3
						When @CST = '07' then 4
						When @CST = '05' then 5
						Else 5 End
		group by 
			a.Incide_Pis
		
Union All -------------------------------------------------- Unindo As Tableas ----------------------------------------------------		

		Select 
			REG = 'M810',
			NAT_REC = CASE 
					WHEN a.Incide_PIS = 2 THEN '999'--'06'
					WHEN a.Incide_PIS = 3 THEN '403'--'04'
					WHEN a.Incide_PIS = 4 THEN '999'--'07'
					WHEN a.Incide_PIS = 5 THEN '101'--'05'
				   	ELSE '101' END,
			VL_TOT_REC=sum(isnull(b.total,0))
		FROM Mercadoria a
		inner join nf_item b on a.plu = b.plu and a.filial = b.filial
		WHERE 
			a.filial = @filial and
			a.Incide_Pis = Case
						When @CST = '06' then 2
						When @CST = '04' then 3
						When @CST = '07' then 4
						When @CST = '05' then 5
						Else 5 End And
			b.Tipo_Nf = 1 and
			exists(Select * from nf where data Between @DataInicio and @DataFim and
					nf.codigo_operacao not in (5929, 6929) and
					isnull(nf.nf_canc, 0) <> 1 and
					nf.cliente_fornecedor = b.cliente_fornecedor and
					nf.codigo = b.codigo and nf.filial = b.filial)
		group by 
			a.Incide_Pis
		

		RETURN
	END


GO

IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Versoes_Atualizadas]') AND type in (N'U'))
BEGIN
	CREATE TABLE [dbo].[Versoes_Atualizadas](
		[Versao] [varchar](20) NULL,
		[Data_Script] [datetime] NULL
	) ON [PRIMARY]
END



insert into Versoes_Atualizadas select 'PROCEDURES SPED', getdate();
GO