


IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[sp_rel_fechamento_fornecedor]') AND type in (N'P', N'PC'))
begin
	DROP PROCEDURE [sp_rel_fechamento_fornecedor]
end
GO
--PROCEDURES =======================================================================================
CREATE  procedure [dbo].[sp_rel_fechamento_fornecedor](
	@filial		varchar(20),
	@datade		varchar(8),
	@dataate	varchar(8),
	@tipo		varchar(50),
	@fornecedor	varchar(250),
	@valor		VARCHAR(11), 
	@status	   varchar(10),
	@centrocusto varchar(max),
	@Cheque		varchar(30),
	@Conferido varchar(10),
	@tipoPagamento varchar(50)
) as

Declare @String as nvarchar(max)
Declare @Where as nvarchar(max)

-- exec     sp_rel_fechamento_fornecedor   @Filial='MATRIZ', @datade = '20160301',  @dataate = '20160331',  @tipo = 'emissao',  @Status = 'PREVISTO',  @valor = '',  @fornecedor = '',  @centrocusto = '|001001003|,|003001001|',  @Cheque = '',  @CONFERIDO = 'TODOS',  @tipoPagamento = 'TODOS' 

Begin
	--Monta Clausula Where da Procura
	set @where = 'Where cp.Filial = '+ char(39) + @filial + char(39) + ' and '
	set @where = @where + 'cp.'+@tipo + ' between ' + char(39) + @datade + char(39) + ' and ' + char(39) + @dataate + char(39)
	--Verifica se o Parametro @fornecedor tem conteudo
	if len(rtrim(ltrim(@Fornecedor))) > 1
		Begin
			set @where = @where + ' And cp.fornecedor in (' + char(39) +replace(@fornecedor,',', char(39)+ ', '+char(39))+ char(39) + ')'
		End
	--Monta Select
	if len(rtrim(ltrim(@valor))) > 1
	Begin
		set @where = @where + ' And cp.valor ='+REPLACE(@valor,',','.')	
	End
	if(@Conferido<>'TODOS')
	begin
		IF(@Conferido='SIM')
		BEGIN
			set @where = @where + ' And cp.conferido =1 '	
		END
		ELSE
		BEGIN
			set @where = @where + ' And ISNULL(cp.conferido,0) =0 '	
		END
		 
	end 
	
	set @Where = @Where + ' and '+ (CASE WHEN @STATUS='ABERTO' THEN ' status =1'
											 WHEN @STATUS='CONCLUIDO' THEN ' status =2'
											 WHEN @STATUS='CANCELADO' THEN ' status =3'
											 WHEN @STATUS='LANCADO' THEN ' status =4'
										ELSE 'cp.status <> 3' END
																) 
	if LEN(@centrocusto)>0
	begin
		set @centrocusto = REPLACE(@centrocusto,'|',CHAR(39));
		set @Where = @Where + ' and cp.codigo_centro_custo in ('+ @centrocusto+ ')' 
	end
	
	if LEN(@Cheque)>0
	begin
		set @Where = @Where + ' and cp.Numero_cheque= '+ char(39)+ @Cheque+ char(39) 
	end
	
	if(@tipoPagamento <> 'TODOS')
	BEGIN
		set @Where = @Where + ' and cp.TIPO_PAGAMENTO= '+ char(39)+ @tipoPagamento+ char(39) 
	END
	


	set @String = 'SELECT   NOME, [RAZAO SOCIAL]=razao,CNPJ=cnpj, QTDE, [VALOR PAGAR] = replace(VALOR_PAGAR,'+ char(39)+'.'+ char(39)+','+ char(39)+','+ char(39)+') FROM (
					Select CC.CODIGO_CENTRO_CUSTO+'+ char(39)+'AA'+ char(39)+' AS ORDEM,
					[CENTRO_CUSTO]= '+ char(39)+'SFT_'+ char(39)+'+CC.CODIGO_CENTRO_CUSTO,
					[NOME]= '+ char(39)+'|-'+ char(39)+'+CC.CODIGO_CENTRO_CUSTO+'+ char(39)+'-'+ char(39)+' +CC.descricao_centro_custo+'+ char(39)+'-|'+ char(39)+' , 
					[Valor_Pagar] = '+ char(39)+'|-'+ char(39)+'+CONVERT(VARCHAR ,sum(Isnull(Valor,0)) - sum(Isnull(Desconto,0)) + (sum(Isnull(Acrescimo,0))))+'+ char(39)+'-|'+ char(39)+', 
					 razao='+ char(39)+ char(39)+',
					 cnpj='+ char(39)+ char(39)+' ,
					 Qtde= count(1)
					 FROM Centro_Custo AS CC 
					  INNER JOIN Conta_a_pagar AS CP ON  CC.Codigo_centro_custo=CP.Codigo_Centro_Custo
					  INNER JOIN FORNECEDOR AS F ON CP.FORNECEDOR = F.FORNECEDOR
					  '+@Where+
					  'GROUP BY CC.CODIGO_CENTRO_CUSTO , CC.descricao_centro_custo 
					UNION 
					Select	CP.CODIGO_CENTRO_CUSTO+'+ char(39)+'BB'+ char(39)+' AS ORDEM ,
							'+ char(39)+ char(39)+',
							cp.Fornecedor,
							[Valor Pagar] = CONVERT(VARCHAR ,sum(Isnull(Valor,0)) - sum(Isnull(Desconto,0)) + (sum(Isnull(Acrescimo,0)))),
							F.Razao_social,
							'+ char(39)+'SFT_'+ char(39)+'+F.CNPJ,
							QTDE =convert(varchar, COUNT(CP.DOCUMENTO))
					from Conta_a_pagar AS CP INNER JOIN FORNECEDOR AS F ON CP.FORNECEDOR = F.FORNECEDOR
						'+@Where+'
						group by Codigo_Centro_Custo,CP.Fornecedor, F.Razao_social, F.CNPJ
					union
					Select '+ char(39)+'ZZ'+ char(39)+' AS ORDEM 
							,'+ char(39)+ char(39)+','+
							char(39)+'|-TOTAL GERAL-|'+ char(39)+',
							[Valor Pagar] = '+ char(39)+'|-'+ char(39)+'+CONVERT(VARCHAR ,sum(Isnull(Valor,0)) - sum(Isnull(Desconto,0)) + (sum(Isnull(Acrescimo,0))))+'+ char(39)+'-|'+ char(39)+','+ 
								char(39)+ char(39)+','+
								char(39)+ char(39)+','+
								'convert(varchar, count(CP.DOCUMENTO))
								
					from Conta_a_pagar AS CP
						'+@Where+'

					)AS A
					 order by ORDEM';


	--set @string = ' Select Codigo_Centro_Custo,
	--				Fornecedor,
	--				[Valor Pagar] = sum(Isnull(Valor,0)) - sum(Isnull(Desconto,0)) + (sum(Isnull(Acrescimo,0))) 
	--				from Conta_a_pagar
	--				'+@Where+'
	--				group by Codigo_Centro_Custo,Fornecedor
	--				order by Codigo_Centro_Custo';
	print @string;
	Exec(@string)
end
GO
insert into Versoes_Atualizadas select 'Versão:1.300.877', getdate();